<template>
    <el-container>
        <el-aside>
            <petitions-side-bar :index="index"/>
        </el-aside>
        <el-main>
            <el-breadcrumb separator="/">
                <el-breadcrumb-item :to="{ name: 'dashboard:claims:index' }">
                    Gestion des petitions
                </el-breadcrumb-item>
                <el-breadcrumb-item>Tableau de bord</el-breadcrumb-item>
            </el-breadcrumb>

            <petitions-table :petitions="petitions" />
        </el-main>
    </el-container>
</template>

<script>
    import {mapGetters} from 'vuex'
    import PetitionsSideBar from '../shared/PetitionsSideBar'
    import PetitionsTable from './components/PetitionsTable'

    export default {
        components: {PetitionsSideBar, PetitionsTable},
        data() {
            return {
                index: '0-0'
            }
        },
        computed: {
            ...mapGetters({
                petitions: 'getPetitions'
            })
        },
        mounted() {
            this.$store.dispatch('fetchPetitions')
                .then(r => {
                    console.log(r)
                })
        }
    }
</script>