<template>
    <claims-map :claims="claims" style="height: 50vh"/>
</template>

<script>
    import axios from 'axios'
    import {apiDomain as apiUrl} from '../../conf'
    import ClaimsMap from './../../maps/components/ClaimsMap';

    export default {
        components: {ClaimsMap},
        data() {
            return {
                claims: []
            }
        },
        methods: {
            async loadPublicClaims() {
                axios(
                    {
                        method: 'GET',
                        url: apiUrl + '/claims',
                    })
                    .then(response => {
                        this.claims = response.data;
                    })
                    .catch(error => {
                        console.log(error)
                    })
            }
        },
        mounted() {
            this.loadPublicClaims();
        }
    }
</script>