<template>
    <v-map :zoom=10 :center="[36.8188, 10.156]" ref="map" :minZoom=6 style="height: 100%">
        <v-tilelayer url='http://{s}.tile.osm.org/{z}/{x}/{y}.png'/>
        <v-marker-cluster>
            <v-marker v-for="claimMarker in claims"
                      :key="claimMarker.id"
                      v-if="claimMarker.latitude !== null"
                      :lat-lng="[claimMarker.latitude, claimMarker.longitude]">
                <v-popup>
                    <claims-popup :claim="claimMarker" />
                </v-popup>
            </v-marker>
        </v-marker-cluster>
    </v-map>
</template>

<script>
    import Vue2Leaflet from 'vue2-leaflet'
    import Vue2LeafletMarkerCluster from 'vue2-leaflet-markercluster'
    import ClaimsPopup from './ClaimsPopup'

    import L from 'leaflet'
    require('leaflet.locatecontrol');

    export default {
        components: {
            'v-map': Vue2Leaflet.Map,
            'v-tilelayer': Vue2Leaflet.TileLayer,
            'v-marker': Vue2Leaflet.Marker,
            'v-marker-cluster': Vue2LeafletMarkerCluster,
            'v-popup': Vue2Leaflet.Popup,
            'claims-popup': ClaimsPopup,
        },
        props: ['claims'],
        mounted() {
            let map = this.$refs.map.mapObject;

            let lc = L.control.locate({
                onLocationError: function (err, control) {
                    lc.stop()
                },
                setView: true,
                flyTo: true,
                cacheLocation: true,
                maxZoom: 14,
                drawCircle: true,
                locateOptions: {
                    enableHighAccuracy: true
                }
            }).addTo(map);

            map.on('locationfound', layer => {
                map.flyTo(layer.latlng);
                lc.stop()
            });

            lc.start();
        }
    }
</script>