<template>
    <div>
        <h4>{{ claim.theme['name_fr'] }}</h4>
        <small>{{ claim.municipality['name_fr'] }}</small>
        <div>
            <img
            v-if="claim.cover !== null" 
            :src="claim.cover.url" :alt="claim.subject" style="max-width: 200px; max-height: 200px">
            <p>{{ claim.description }}</p>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['claim'],
    }
</script>