<template>
    <el-form :model="country" :rules="rules" class="margin-top" ref="countryForm">

        <el-form-item prop="name_en" :error="validationError.name_en" label="Désignation anglaise">
            <el-input placeholder="Désignation anglaise" v-model="country.name_en" />
        </el-form-item>

        <el-form-item prop="name_fr" :error="validationError.name_fr" label="Désignation française">
            <el-input placeholder="Désignation française" v-model="country.name_fr" />
        </el-form-item>

        <el-form-item prop="name_ar" :error="validationError.name_ar" label="التسمية العربية" dir="rtl">
            <el-input placeholder="التسمية العربية" v-model="country.name_ar" />
        </el-form-item>

        <el-form-item>
            <el-button type="primary" @click="onSubmit">Sauvegarder</el-button>
            <el-button @click="resetForm">Annuler</el-button>
        </el-form-item>

    </el-form>
</template>
<script>
    export default {
        props: ['country', 'validationError'],
        data() {
            return {
                rules: {
                    name_en: [
                        { required: true, message: 'Le champ est obligatoire.', trigger: 'blur' },
                        { min: 4, max: 100, message: 'La longueur du champ doit être comprise entre 4 et 100.', trigger: 'blur' }
                    ],
                    name_fr: [
                        { required: true, message: 'Le champ est obligatoire.', trigger: 'blur' },
                        { min: 4, max: 100, message: 'La longueur du champ doit être comprise entre 4 et 100.', trigger: 'blur' }
                    ],
                    name_ar: [
                        { required: true, message: 'Le champ est obligatoire.', trigger: 'blur' },
                        { min: 4, max: 100, message: 'La longueur du champ doit être comprise entre 4 et 100.', trigger: 'blur' }
                    ],
                }
            }
        },
        methods: {
            onSubmit() {
                this.$refs['countryForm'].validate((valid) => {
                    if (valid) {
                        this.$emit('submitForm');
                        return true
                    } else {
                        return false
                    }
                })
            },
            resetForm() {
                this.$refs.countryForm.resetFields();
                this.$emit('resetForm')
            }
        }
    }
</script>