<template>
    <div>
        <data-tables
                :data="countries"
                :search-def="searchDef"
                :checkbox-filter-def="checkboxFilterDef"
                :actions-def="actionsDef"
                :action-col-def="actionColDef">
            <el-table-column
                    v-for="title in titles"
                    :prop="title.prop"
                    :label="title.label"
                    :key="title.prop"
                    :width="title.width"
                    sortable="custom">
            </el-table-column>
        </data-tables>
        <el-dialog title="Modifier pays" :visible.sync="dialogFormVisible">
            <countries-form
                    v-on:submitForm="updateCountry"
                    :country="country"
                    :validationError="validationError"/>
        </el-dialog>
    </div>
</template>

<script>
    import {initialCountriesDetails, initialValidationError} from './../config'
    import CountriesForm from './CountriesForm'

    export default {
        props: ['countries'],
        components: {CountriesForm},
        data() {
            return {
                country: initialCountriesDetails(),
                validationError: initialValidationError(),
                dialogFormVisible: false,
                titles: [
                    {prop: 'name_fr', label: 'Désignation française'},
                ],
                checkboxFilterDef: {colProps: {span: 0}},
                actionsDef: {colProps: {span: 0}},
                searchDef: {colProps: {span: 24}},
                actionColDef: {
                    label: 'Actions',
                    width: '250',
                    tableColProps: {
                        align: 'center'
                    },
                    def: [{
                        name: 'Modifier',
                        handler: row => {
                            this.$store.dispatch('fetchCountry', {countryID: row.id})
                                .then(country => {
                                    this.country = country;
                                    this.dialogFormVisible = true;
                                })
                        }
                    }, {
                        name: 'Supprimer',
                        handler: row => {
                            this.$confirm('Voulez-vous vraiment supprimer le pays ' +
                                row.name_fr + '. Continuer ?', 'Attention', {
                                confirmButtonText: 'Oui',
                                cancelButtonText: 'Annuler',
                                type: 'warning'
                            }).then(() => {
                                this.$store.dispatch('deleteCountry', {countryID: row.id}).then(() => {
                                    this.$message({
                                        type: 'success',
                                        message: 'Pays supprimé avec succèss'
                                    });
                                }).catch((e) => {
                                    console.log(e)
                                    this.$message({
                                        type: 'warning',
                                        message: 'Une erreur inattendue est survenue. Merci de réessayer...'
                                    });
                                })
                            }).catch(() => {
                                this.$message({
                                    type: 'info',
                                    message: 'Suppression annulée...'
                                });
                            });
                        }
                    }]
                }
            }
        },
        methods: {
            updateCountry() {
                this.validationError = initialValidationError();
                this.$store.dispatch('saveCountry', {country: this.country})
                    .then(country => {
                        this.$message.success('Pays ' + country.name_fr + ' modifié avec succès.');
                        this.country = initialCountriesDetails();
                        this.$store.dispatch('fetchCountries');
                        this.dialogFormVisible = false
                    })
                    .catch((error) => {
                        this.$message.error('Erreur lors de l\'ajout d\'un nouveau pays, merci de vérifier vos paramètres.');
                        if (error.response !== undefined) {
                            if (error.response.status === 422) {
                                let errorData = error.response.data[1];
                                if (errorData['name_en'] !== undefined) {this.validationError.name_en = errorData['name_en'][0]}
                                if (errorData['name_fr'] !== undefined) {this.validationError.name_fr = errorData['name_fr'][0]}
                                if (errorData['name_ar'] !== undefined) {this.validationError.name_ar = errorData['name_ar'][0]}
                            }
                        }
                    })
            }
        },
    }
</script>
