<template>
    <div class="p-wrapper">
        <side-bar/>

        <div id="p-content">
            <menu-button />
            <el-row type="flex">
                <el-col :span="24" class="p-map">
                    <claims-map :claims="claims" :claim="claim" style="height: 100vh"/>
                </el-col>
                <el-col :xs="24" :sm="12" :lg="8" class="p-form" style="overflow-y: scroll" id="claims-splash">
                    <div>
                        <el-button class="splash-up" style="top: 2.5rem; " type="default"
                                   @click="changePosition">
                            <i v-if="!isVisible" class="el-icon-arrow-up"></i>
                            <i v-if="isVisible" class="el-icon-arrow-down"></i>
                        </el-button>
                    </div>
                    <div class="p-form-content">

                        <h1 class="title" style="text-transform: capitalize">{{ $t('complains.title') }}</h1>
                        <claims-stats :themes="themes" :totalClaims="totalClaims"/>

                        <!-- <p>{{ $t('claims-presentation') }}</p> -->

                        <el-form ref="claimForm" :model="claim" :rules="rules">

                            <div v-if="stepOne">
                                <el-form-item prop="claimer_name">
                                    <el-input :placeholder="$t('name')" v-model="claim.claimer_name"/>
                                </el-form-item>


                                <el-form-item prop="claimer_phone_number">
                                    <div class="el-input" dir="ltr">
                                        <cleave v-model="claim.claimer_phone_number" :options="cleaveOptions"
                                                :placeholder="$t('your phone number')"
                                                v-bind:style="(direction === 'rtl') ? {textAlign: 'right'} : ''"
                                                class="el-input__inner" name="claimer_phone_number"/>
                                    </div>
                                </el-form-item>

                                <el-form-item prop="municipality_id">
                                    <el-select
                                            style="width: 100%"
                                            v-model="claim.municipality_id"
                                            :placeholder="$t('municipality')">
                                        <el-option
                                                v-for="municipality in municipalities"
                                                :key="municipality.id"
                                                :label="municipality['name_'+ $i18n.locale]"
                                                :value="municipality.id">
                                        </el-option>
                                    </el-select>
                                </el-form-item>

                                <el-form-item prop="subject">
                                    <el-select
                                            style="width: 100%"
                                            v-model="claim.subject"
                                            :placeholder="$t('subject')">
                                        <el-option
                                                v-for="theme in themes"
                                                :key="theme.id"
                                                :label="theme['name_'+ $i18n.locale]"
                                                :value="theme.id">
                                        </el-option>
                                    </el-select>
                                </el-form-item>

                                <el-form-item prop="description">
                                    <el-input :placeholder="$t('description')" type="textarea" :rows="3"
                                              v-model="claim.description"/>
                                </el-form-item>

                                <el-form-item class="controls">
                                    <el-button @click="resetForm">{{$t('cancel')}}</el-button>
                                    <el-button type="primary" @click="saveClaim" plain>{{$t('next step')}}</el-button>
                                </el-form-item>
                            </div>
                            <div v-if="stepTwo">
                                <el-form-item>
                                    <el-upload
                                            style="width: 100%"
                                            class="upload-demo"
                                            drag
                                            :action="claimUpload"
                                            :file-list="fileList"
                                            multiple>
                                        <i class="el-icon-upload"></i>
                                        <div class="el-upload__text">{{$t('drop file here or')}} <em>{{$t('click to upload')}}</em></div>
                                        <div class="el-upload__tip" slot="tip">jpg/png {{$t('files with a size less than 500kb')}}
                                        </div>
                                    </el-upload>
                                    <el-form-item class="controls margin-top">
                                        <el-button type="primary" @click="finish" plain>{{$t('submit')}}</el-button>
                                    </el-form-item>
                                </el-form-item>
                            </div>
                        </el-form>
                    </div>

                </el-col>
            </el-row>

        </div>

        <footer class="footer">
            <footer-content/>
        </footer>
    </div>
</template>

<script>

    import MenuButton from '../components/shared/MenuButton'
    import axios from 'axios'
    import {apiDomain as apiUrl} from '../../conf'
    import SideBar from '../components/shared/SideBar'
    import FooterContent from '../components/shared/FooterContent'
    import ClaimsMap from '../components/claims/ClaimsMap';
    import ClaimsStats from '../components/claims/ClaimsStats'
    import CircularStats from '../components/shared/CircularStats'
    import Cleave from 'vue-cleave-component';

    import {mapGetters} from 'vuex'

    require('cleave.js/dist/addons/cleave-phone.tn');

    const initialClaim = function () {
        return {
            id: -1,
            claimer_name: null,
            claimer_phone_number: null,
            municipality_id: null,
            subject: null,
            description: null,
            latitude: null,
            longitude: null,
        }
    };

    export default {
        components: {
            SideBar, ClaimsMap, ClaimsStats, CircularStats, FooterContent, Cleave, MenuButton
        },
        data() {
            return {
                claims: [],
                themes: [],
                municipalities: [],
                claim: initialClaim(),
                claimID: -1,
                isVisible: true,
                stepOne: true,
                stepTwo: false,
                fileList: [],
                cleaveOptions: {
                    phone: true,
                    phoneRegionCode: 'TN'
                },
                rules: {
                    claimer_name: [
                        {required: true, message: 'This field is required.', trigger: 'blur'},
                    ],
                    claimer_phone_number: [
                        {required: true, message: 'This field is required.', trigger: 'blur'},
                        {min: 8, max: 16, message: 'This is not a valid phone number.', trigger: 'blur'},
                    ],
                    municipality_id: [
                        {required: true, message: 'This field is required.', trigger: 'blur'},
                    ],
                    subject: [
                        {required: true, message: 'This field is required.', trigger: 'blur'},
                    ],
                    description: [
                        {required: true, message: 'This field is required.', trigger: 'blur'},
                    ],
                }
            }
        },
        computed: {
            claimUpload: function () {
                return apiUrl + '/public/claims/upload/' + this.claimID
            },
            totalClaims: function () {
                return this.claims.length
            },
            ...mapGetters({
                direction: 'getDirection'
            })
        },
        methods: {
            finish() {
                this.claim = initialClaim();
                this.claimID = -1;
                this.fileList = [];
                this.stepOne = true;
                this.stepTwo = false;
            },
            resetForm() {
                this.$refs.claimForm.resetFields();
            },
            saveClaim() {
                this.$refs['claimForm'].validate((valid) => {
                    if (valid) {
                        axios(
                            {
                                method: 'POST',
                                url: apiUrl + '/public/claims/create',
                                data: this.claim
                            })
                            .then(response => {
                                this.claim = response.data;
                                this.claimID = response.data.id;
                                this.stepOne = false;
                                this.stepTwo = true;
                                this.loadPublicClaims();
                                this.$message.success('Your complain was been saved and will be processed as soon as possible...')
                            })
                            .catch(error => {
                                this.$message.error('An error was happened. Please try again...')
                            });
                        return true
                    } else {
                        this.$message.warning('Please check your data');
                        return false
                    }
                })
            },
            changePosition() {
                if (!this.isVisible) {
                    this.isVisible = true;
                    document.getElementById('claims-splash').style.top = '2vh';
                } else {
                    this.isVisible = false;
                    document.getElementById('claims-splash').style.top = '84%';
                }
            },
            async loadPublicClaims() {
                axios(
                    {
                        method: 'GET',
                        url: apiUrl + '/public/claims',
                    })
                    .then(response => {
                        this.claims = response.data;
                    })
                    .catch(error => {
                        console.log(error)
                    })
            },
            loadPublicThemes() {
                axios(
                    {
                        method: 'GET',
                        url: apiUrl + '/public/themes',
                    })
                    .then(response => {
                        this.themes = response.data;
                    })
                    .catch(error => {
                        console.log(error)
                    })
            },
            loadPublicMunicipalities() {
                axios(
                    {
                        method: 'GET',
                        url: apiUrl + '/public/municipalities',
                    })
                    .then(response => {
                        this.municipalities = response.data;
                    })
                    .catch(error => {
                        console.log(error)
                    })
            }
        },
        mounted() {
            if (window.innerWidth < 480) {
                this.isVisible = false;
                document.getElementById('claims-splash').style.top = '84%';
            }
            this.loadPublicMunicipalities();
            this.loadPublicThemes();
            this.loadPublicClaims();
        }
    }
</script>

<style lang="scss">
    #app {
        padding: 0 !important;
    }

    #p-content {
        padding: 0 !important;
    }
</style>