<template>
    <div class="p-wrapper">
        <side-bar />

        <div id="p-content">
            <menu-button/>
            <events-dashboard />
        </div>

        <footer class="footer">
            <footer-content/>
        </footer>
    </div>
</template>

<script>
    import SideBar from '../components/shared/SideBar'
    import MenuButton from '../components/shared/MenuButton'
    import FooterContent from '../components/shared/FooterContent'
    import EventsDashboard from '../components/events/EventsDashboard'

    export default {
        components: {SideBar, EventsDashboard,FooterContent, MenuButton}
    }
</script>

<style lang="scss">
    #app {
        padding: 0 !important;
    }
</style>