<template>
    <div class="p-wrapper">
        <side-bar />

        <div id="p-content">
            <menu-button />
            <div class="p-background">
                <carousel/>
                <splash-screen />
            </div>
        </div>

        <footer class="footer">
            <footer-content/>
        </footer>
    </div>
</template>

<script>
    import SideBar from '../components/shared/SideBar'
    import MenuButton from '../components/shared/MenuButton'
    import FooterContent from '../components/shared/FooterContent'
    import Carousel from '../components/home/Carousel'
    import SplashScreen from '../components/home/SplashScreen'

    export default {
        components: {SideBar, Carousel, SplashScreen,FooterContent, MenuButton},
    }
</script>

<style lang="scss">
    #app {
        padding: 0 !important;
    }
</style>