<template>
    <div class="p-wrapper">
        <side-bar/>

        <div id="p-content" style="padding: 24px">
            <menu-button/>
            <municipalities-details
                    :municipality="municipality"
                    :relativePopulation="relativePopulation"
                    :relativeHouses="relativeHouses"
            />
        </div>

        <footer class="footer">
            <footer-content/>
        </footer>
    </div>
</template>

<script>
    import SideBar from '../components/shared/SideBar'
    import MenuButton from '../components/shared/MenuButton'
    import FooterContent from '../components/shared/FooterContent'
    import MunicipalitiesDetails from '../components/municipalities/MunicipalitiesDetails'

    const initialMunicipalitiesDetails = function () {
        return {
            id: -1,
            name_en: '',
            name_fr: '',
            name_ar: '',

            population: null,
            houses: null,
            regional_council_number: null,
            municipal_council_number: null,

            website: '',
            phone: '',
            email: '',
            fax: '',

            description_en: '',
            description_fr: '',
            description_ar: '',

            is_active: false,
            city_id: null,

            city: {},
            attachments: [],
        }
    };

    export default {
        components: {
            MenuButton,
            SideBar, MunicipalitiesDetails,FooterContent},
        data() {
            return {
                municipality: initialMunicipalitiesDetails(),
                relativePopulation: 0,
                relativeHouses: 0,
            }
        },
        mounted() {
            this.$store.dispatch('fetchPublicMunicipality', {municipalityID: this.$route.params.id})
                .then(municipality => {
                    this.municipality = municipality;
                    let relativePopulation = this.municipality.population * 100 / this.municipality.city.population;
                    if (isNaN(relativePopulation)) {
                        this.relativePopulation = 0
                    } else {
                        this.relativePopulation = relativePopulation;
                    }

                    let relativeHouses = this.municipality.houses * 100 / this.municipality.city.houses;
                    if (isNaN(relativeHouses)) {
                        this.relativeHouses = 0
                    } else {
                        this.relativeHouses = relativeHouses;
                    }
                })
                .catch(error => {
                    this.$message.error('Erreur lors de la lecture des détails de la municipalité...');
                    console.log(error)
                })
        },
    }
</script>

<style lang="scss">

    $break-xs: 480px;
    $break-md: 840px;
    $break-lg: 1200px;


    #app {
        padding: 0 !important;
    }

    .mainContainer[dir='rtl'] #p-content, footer {
        margin-left: 0;
        margin-right: 350px;
        @media screen and (max-width: $break-md) {
            margin-right: 0;
        }
    }
</style>