<template>
    <div class="p-wrapper">
        <side-bar />

        <div id="p-content">
            <menu-button/>
            <municipalities-card :municipalities="municipalities" @checkDetails="checkDetails" />
        </div>

        <footer class="footer">
            <footer-content/>
        </footer>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import SideBar from '../components/shared/SideBar'
    import MenuButton from '../components/shared/MenuButton'
    import FooterContent from '../components/shared/FooterContent'
    import MunicipalitiesCard from '../components/municipalities/MunicipalitiesCard'

    export default {
        components: {SideBar, MunicipalitiesCard,FooterContent, MenuButton},
        computed: {
            ...mapGetters({
                municipalities: 'getMunicipalities',
            }),
        },
        methods: {
            checkDetails(municipalityID) {
                this.$router.push({name: 'public:municipalities:details', params: {id: municipalityID}})
            }
        },
        mounted() {
            this.$store.dispatch('fetchPublicMunicipalities')
                .catch(error => {
                    this.$notify.error({
                        title: 'Erreur',
                        message: 'Erreur lors de lecture des données...'
                    });
                });
        },
    }
</script>

<style lang="scss">
    #app {
        padding: 0 !important;
    }
</style>