<template>
    <div class="p-wrapper">
        <side-bar/>

        <div id="p-content">
            <menu-button/>

            <el-card style="min-height: calc(100% - 2px)">
                <el-row>
                    <el-col :xs="24" :md="12" :lg="16">
                        <div class="details-container">
                            <h1>{{petition.name}}</h1>
                            <p>{{petition.description}}</p>
                            <el-button style="text-transform: uppercase" type="primary" @click="dialogVisible = true" plain>{{$t('sign')}}</el-button>
                            <el-dialog
                                    :visible.sync="dialogVisible"
                                    width="80%"
                                    :before-close="handleClose">
                            <el-form ref="petitioner" :rules="petitioner_rules" :model="petitioner">

                                <el-form-item :label="$t('name')" prop="name">
                                    <el-input :placeholder="$t('your name')" v-model="petitioner.name"/>
                                </el-form-item>

                                <el-form-item :label="$t('phone number')" prop="phone_number">
                                    <div class="el-input" dir="ltr">
                                        <cleave v-model="petitioner.phone_number" :options="cleaveOptions"
                                                :placeholder="$t('your phone number')"
                                                v-bind:style="(direction === 'rtl') ? {textAlign: 'right'} : ''"
                                                class="el-input__inner" name="phone_number"/>
                                    </div>
                                </el-form-item>

                                <el-form-item :label="$t('email')" prop="mail" dir="ltr">
                                    <div class="el-input" dir="ltr">
                                        <input
                                                type="email"
                                                :placeholder="$t('your email address')"
                                                v-model="petitioner.mail"
                                                v-bind:style="(direction === 'rtl') ? {textAlign: 'right'} : ''"
                                                class="el-input__inner"
                                                name="email" />
                                    </div>
                                    <!--
                                    <el-input :placeholder="$t('your email address')"
                                              v-bind:style="(direction === 'rtl') ? {textAlign: 'right'} : ''"
                                              v-model="petitioner.mail"/>
                                      -->
                                </el-form-item>

                                <el-form-item :label="$t('address')">
                                    <el-input type="textarea" :rows="3" :placeholder="$t('your street address')"
                                              v-model="petitioner.address"/>
                                </el-form-item>

                                <el-form-item class="controls">
                                    <el-button>{{$t('cancel')}}</el-button>
                                    <el-button type="default" @click="submitPetitioner">{{$t('submit')}}</el-button>
                                </el-form-item>

                            </el-form>

                            </el-dialog>
                        </div>
                    </el-col>
                    <el-col :xs="24" :md="12" :lg="8">
                        <el-card>
                            <dl style="text-align: center">
                                <dt style="text-transform: capitalize">{{$t('theme')}}</dt>
                                <dd style="margin: 0">{{petition.theme['name_' + $i18n.locale]}}</dd>
                                <dt style="text-transform: capitalize">{{$t('must be submitted to')}}</dt>
                                <dd style="margin: 0">{{target}}</dd>
                                <dt style="text-transform: capitalize">{{$t('requested signatures')}}</dt>
                                <dd style="margin: 0">{{petition.requested_signatures_number}}</dd>
                                <dd style="margin: 0">
                                    <el-progress :text-inside="true" :stroke-width="18" :percentage="signaturesPercentage"/>
                                </dd>
                            </dl>
                            <!-- <social-sharing :url="currentURL" inline-template>
                                <div>
                                    <network network="facebook">
                                        <i class="fa fa-fw fa-facebook"></i> Facebook
                                    </network>
                                    <network network="googleplus">
                                        <i class="fa fa-fw fa-google-plus"></i> Google +
                                    </network>
                                    <network network="linkedin">
                                        <i class="fa fa-fw fa-linkedin"></i> LinkedIn
                                    </network>
                                    <network network="pinterest">
                                        <i class="fa fa-fw fa-pinterest"></i> Pinterest
                                    </network>
                                    <network network="reddit">
                                        <i class="fa fa-fw fa-reddit"></i> Reddit
                                    </network>
                                    <network network="twitter">
                                        <i class="fa fa-fw fa-twitter"></i> Twitter
                                    </network>
                                    <network network="vk">
                                        <i class="fa fa-vk"></i> VKontakte
                                    </network>
                                    <network network="weibo">
                                        <i class="fa fa-weibo"></i> Weibo
                                    </network>
                                    <network network="whatsapp">
                                        <i class="fa fa-fw fa-whatsapp"></i> Whatsapp
                                    </network>
                                </div>
                            </social-sharing> -->
                        </el-card>
                    </el-col>
                </el-row>
            </el-card>
        </div>

        <footer class="footer">
            <footer-content/>
        </footer>
    </div>
</template>

<script>
    import SideBar from '../components/shared/SideBar'
    import MenuButton from '../components/shared/MenuButton'
    import FooterContent from '../components/shared/FooterContent'
    import {Petition} from "../models/petitions/Petition";
    import ElCard from "element-ui/packages/card/src/main";
    import ElRow from "element-ui/packages/row/src/row";
    import {Petitioner} from "../models/petitions/Petitioner";
    import {Signature} from "../models/petitions/Signature";
    import {mapGetters} from 'vuex'

    import Cleave from 'vue-cleave-component';
    require('cleave.js/dist/addons/cleave-phone.tn');

    export default {
        components: {
            ElRow,
            ElCard,
            Cleave,
            SideBar, FooterContent, MenuButton},
        data() {
            return {
                petition: new Petition(),
                petitioner: new Petitioner(),
                petitioner_rules: {
                    name: [
                        {required: true, message: 'This field is required.', trigger: 'blur'},
                    ],
                    phone_number: [
                        {min: 8, max: 16, message: 'This is not a valid phone number.', trigger: 'blur'},
                    ],
                    mail: [
                        {required: true, message: 'This field is required.', trigger: 'blur'},
                        {type: 'email', message: 'This is not a valid email.', trigger: 'blur'},
                    ],
                },
                cleaveOptions: {
                    phone: true,
                    phoneRegionCode: 'TN'
                },
                dialogVisible: false
            }
        },
        computed: {
            target: function () {
                if (this.petition.target['name_' + this.$i18n.locale] !== null) {
                    return this.petition.target['name_' + this.$i18n.locale];
                } else if (this.petition.target['name_en'] !== null) {
                    return this.petition.target.name_en;
                } else if (this.petition.target['name_fr'] !== null) {
                    return this.petition.target.name_fr;
                } else {
                    return this.petition.target.name_ar;
                }
            },
            signaturesPercentage: function () {
                if (this.petition.requested_signatures_number <= 0) return 0;
                return this.petition.signatures / this.petition.requested_signatures_number * 100
            },
            currentURL: function () {
                return window.location.href
            },
            ...mapGetters({
                direction: 'getDirection'
            }),
        },
        methods: {
            handleClose(done) {
                this.petitioner = new Petitioner();
                done();
            },
            submitPetitioner() {
                this.$refs['petitioner'].validate((valid) => {
                        if (valid) {
                            this.petitioner.save()
                                .then(petitioner => {
                                    let petitioner_id = petitioner.id;
                                    let petition_id = this.petition.id;
                                    let signature = new Signature({petitioner_id, petition_id});
                                    signature.save().then(() => {
                                        this.petitioner = new Petitioner();
                                        let uuid = this.$route.params.uuid;
                                        this.petition.fetch(uuid);
                                        this.$message.success('Thank you for your contribution.');
                                        this.dialogVisible = false
                                    })
                                        .catch(() => {
                                            this.$message.warning('Please check your data');
                                            return false
                                        })
                                });
                            return true
                        } else {
                            this.$message.warning('Please check your data');
                            return false
                        }
                    }
                )
            },
        },
        mounted() {
            let uuid = this.$route.params.uuid;
            this.petition.fetch(uuid);
        }
    }
</script>

<style lang="scss">
    $break-md: 840px;

    #app {
        padding: 0 !important;
    }

    .mainContainer[dir='rtl'] #p-content, footer {
        margin-left: 0;
        margin-right: 350px;
        @media screen and (max-width: $break-md) {
            margin-right: 0;
        }
    }

</style>