<template>
    <div class="p-wrapper">
        <side-bar />

        <div id="p-content">
            <menu-button/>

            <div v-masonry transition-duration="0.4s" item-selector=".item" class="masonry-container">
                <el-col v-masonry-tile class="item" v-for="(item, index) in reviews" :key="item.id" :xs="24" :sm="12" :lg="8">
                    <link-prevue cardWidth="99%" :url="item.url" @loaded="mason"/>
                </el-col>
            </div>
        </div>

        <footer class="footer">
            <footer-content/>
        </footer>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import SideBar from '../components/shared/SideBar'
    import MenuButton from '../components/shared/MenuButton'
    import FooterContent from '../components/shared/FooterContent'
    import LinkPrevue from '../../libs/LinkPreview'


    function sleep (time) {
        return new Promise((resolve) => setTimeout(resolve, time));
    }
    export default {
        components: {
            MenuButton,
            SideBar, LinkPrevue, FooterContent},
        computed: {
            ...mapGetters({
                reviews: 'getReviews'
            })
        },
        methods: {
            mason() {
                this.$redrawVueMasonry();
            }
        },
        mounted() {
            this.$store.dispatch('fetchPublicReviews').then(() => {
                this.$redrawVueMasonry();
            });
            sleep(2000).then(() => {
                this.$redrawVueMasonry();
            })
        }
    }
</script>

<style lang="scss">
    #app {
        padding: 0 !important;
    }
</style>