<template>
    <div class="p-wrapper">
        <side-bar/>

        <div id="p-content">
            <menu-button/>
            <div class="notice_container">
                <h1 v-html="notice['title_'+ $i18n.locale] " style="margin-top: 0"></h1>
                <div v-html="notice['content_'+ $i18n.locale]"></div>
            </div>
        </div>

        <footer class="footer">
            <footer-content/>
        </footer>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import SideBar from '../components/shared/SideBar'
    import MenuButton from '../components/shared/MenuButton'
    import FooterContent from '../components/shared/FooterContent'

    export default {
        components: {SideBar,FooterContent,MenuButton},
        computed: {
            ...mapGetters({
                notice: 'getSwornStatement',
            }),
        },
        mounted() {
            this.$store.dispatch('fetchPublicNotices');
        }
    }
</script>

<style lang="scss">
    #app {
        padding: 0 !important;
    }
</style>