<template>
    <el-form :model="city" :rules="rules" class="margin-top" ref="cityForm">

        <el-form-item prop="name_en" :error="validationError.name_en" label="Désignation anglaise">
            <el-input placeholder="Désignation anglaise" v-model="city.name_en" />
        </el-form-item>

        <el-form-item prop="name_fr" :error="validationError.name_fr" label="Désignation française">
            <el-input placeholder="Désignation française" v-model="city.name_fr" />
        </el-form-item>

        <el-form-item prop="name_ar" :error="validationError.name_ar" label="التسمية العربية" dir="rtl" >
            <el-input placeholder="التسمية العربية" v-model="city.name_ar" />
        </el-form-item>

        <el-form-item label="Pays" prop="country_id">
            <el-select v-model="city.country_id" placeholder="merci de spécifier le pays" :filterable="true">
                <el-option
                        v-for="country in countries"
                        :key="country.id"
                        :label="country.name_fr"
                        :value="country.id">
                </el-option>
            </el-select>
        </el-form-item>

        <el-form-item>
            <el-button type="primary" @click="onSubmit">Sauvegarder</el-button>
            <el-button @click="resetForm">Annuler</el-button>
        </el-form-item>

    </el-form>
</template>
<script>
    export default {
        props: ['city', 'validationError', 'countries'],
        data() {
            return {
                rules: {
                    name_en: [
                        { required: true, message: 'Le champ est obligatoire.', trigger: 'blur' },
                        { min: 4, max: 100, message: 'La longueur du champ doit être comprise entre 4 et 100.', trigger: 'blur' }
                    ],
                    name_fr: [
                        { required: true, message: 'Le champ est obligatoire.', trigger: 'blur' },
                        { min: 4, max: 100, message: 'La longueur du champ doit être comprise entre 4 et 100.', trigger: 'blur' }
                    ],
                    name_ar: [
                        { required: true, message: 'Le champ est obligatoire.', trigger: 'blur' },
                        { min: 4, max: 100, message: 'La longueur du champ doit être comprise entre 4 et 100.', trigger: 'blur' }
                    ],
                    country_id: [
                        { required: true, message: 'Le champ est obligatoire.', trigger: 'change' },
                    ],
                }
            }
        },
        methods: {
            onSubmit() {
                this.$refs['cityForm'].validate((valid) => {
                    if (valid) {
                        this.$emit('submitForm');
                        return true
                    } else {
                        return false
                    }
                })
            },
            resetForm() {
                this.$refs.cityForm.resetFields();
                this.$emit('resetForm')
            }
        }
    }
</script>