<template>
    <div>
        <data-tables
                :data="cities"
                :checkbox-filter-def="checkboxFilterDef"
                :search-def="searchDef"
                :actions-def="actionsDef"
                :action-col-def="actionColDef">
            <el-table-column
                    v-for="title in titles"
                    :prop="title.prop"
                    :label="title.label"
                    :key="title.prop"
                    :width="title.width"
                    sortable="custom">
            </el-table-column>
        </data-tables>
        <el-dialog title="Modifier ville" :visible.sync="dialogFormVisible">
            <cities-form
                    v-on:submitForm="updateCity"
                    :city="city"
                    :validationError="validationError"/>
        </el-dialog>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'

    import Authentication from './../../../../helpers/Authentication'
    import {initialCitiesDetails, initialValidationError} from './../config'

    import CitiesForm from './../components/CitiesForm'

    export default {
        props: ['cities'],
        components: {CitiesForm},
        data() {
            return {
                city: initialCitiesDetails(),
                validationError: initialValidationError(),
                dialogFormVisible: false,
                titles: [
                    {prop: 'name_fr', label: 'Désignation française'},
                    {prop: 'country.name_fr', label: 'Pays'},
                ],
                filterDefinition: [],
                actionsDef: {colProps: {span: 0}},
                searchDef: {colProps: {span: 8}},
                actionColDef: {
                    label: 'Actions',
                    width: '250',
                    tableColProps: {
                        align: 'center'
                    },
                    def: [{
                        name: 'Modifier',
                        handler: row => {
                            this.$store.dispatch('fetchCity', {cityID: row.id})
                                .then(city => {
                                    this.city = city;
                                    this.dialogFormVisible = true;
                                })
                        }
                    }, {
                        name: 'Supprimer',
                        handler: row => {
                            this.$confirm('Voulez-vous vraiment supprimer le pays ' +
                                row.name_fr + '. Continuer ?', 'Attention', {
                                confirmButtonText: 'Oui',
                                cancelButtonText: 'Annuler',
                                type: 'warning'
                            }).then(() => {
                                this.$store.dispatch('deleteCity', {cityID: row.id}).then(() => {
                                    this.$message({
                                        type: 'success',
                                        message: 'Pays supprimé avec succèss'
                                    });
                                }).catch((e) => {
                                    console.log(e)
                                    this.$message({
                                        type: 'warning',
                                        message: 'Une erreur inattendue est survenue. Merci de réessayer...'
                                    });
                                })
                            }).catch(() => {
                                this.$message({
                                    type: 'info',
                                    message: 'Suppression annulée...'
                                });
                            });
                        }
                    }]
                }
            }
        },
        computed: {
            checkboxFilterDef: function () {
                return {
                    def: this.filterDefinition,
                    filterFunction(el, filter) {
                        return el.country.id === filter.vals[0]
                    },
                    colProps: {span: 16}
                }
            },
            ...mapGetters({
                countries: 'getCountries',
            }),
        },
        watch: {
            cities: function (cities) {
                if (typeof cities !== 'undefined' && cities.length > 0) {
                    for (let i = 0; i < cities.length; i++) {
                        let country = {
                            'code': cities[i].country.id,
                            'name': cities[i].country.name_fr,
                        };
                        if (this.filterDefinition.findIndex((x) => x.code === country.code) === -1)
                            this.filterDefinition.push(country);
                    }
                }
            }
        },
        methods: {
            updateCity() {
                this.validationError = initialValidationError();
                this.$store.dispatch('saveCity', {city: this.city})
                    .then(city => {
                        this.$message.success('ville ' + city.name_fr + ' modifiée avec succès.');
                        this.city = initialCitiesDetails();
                        this.$store.dispatch('fetchCities');
                        this.dialogFormVisible = false
                    })
                    .catch((error) => {
                        this.$message.error('Erreur lors de l\'ajout d\'une nouvelle ville, merci de vérifier vos paramètres.');
                        if (error.response !== undefined) {
                            if (error.response.status === 422) {
                                let errorData = error.response.data[1];
                                if (errorData['name_en'] !== undefined) {this.validationError.name_en = errorData['name_en'][0]}
                                if (errorData['name_fr'] !== undefined) {this.validationError.name_fr = errorData['name_fr'][0]}
                                if (errorData['name_ar'] !== undefined) {this.validationError.name_ar = errorData['name_ar'][0]}
                                if (errorData['country_id'] !== undefined) {this.validationError.country_id = errorData['country_id'][0]}
                            }
                        }
                    })
            }
        },
        /*
        mounted() {
            if (Authentication.isLoggedIn()) {
                this.$store.dispatch('fetchCountries')
                    .catch(error => {
                        this.$notify.error({
                            title: 'Erreur',
                            message: 'Erreur lors de lecture des données...'
                        });
                    });
            }
        },
        beforeRouteLeave(to, from, next) {
            this.$store.dispatch('reinitCountries')
                .catch(error => {
                    this.$notify.error({
                        title: 'Erreur',
                        message: 'Une erreur inattendue est survenue, merci de contacter votre administrateur...'
                    });
                });
            next()
        }
        */
    }
</script>
