<template>
    <el-container>
        <el-aside>
            <claims-side-bar :index="index"/>
        </el-aside>
        <el-main>
            <el-breadcrumb separator="/">
                <el-breadcrumb-item :to="{ name: 'dashboard:claims:index' }">
                    Gestion des plaintes
                </el-breadcrumb-item>
                <el-breadcrumb-item>Liste des plainieurs</el-breadcrumb-item>
            </el-breadcrumb>
            <claimers-table :claimers="claimers"/>
        </el-main>
    </el-container>
</template>

<script>
    import {mapGetters} from 'vuex'

    import ClaimsSideBar from './../../shared/components/ClaimsSideBar'
    import ClaimersTable from './../components/ClaimersTable'
    import Authentication from "../../../../helpers/Authentication";

    export default {
        components: {ClaimsSideBar, ClaimersTable},
        data() {
            return {
                index: '0-2',
            }
        },
        computed: {
            ...mapGetters({
                claimers: 'getClaimers',
            }),
        },
        mounted() {
            if (Authentication.isLoggedIn()) {
                this.$store.dispatch('fetchClaimers')
                    .catch(error => {
                        this.$notify.error({
                            title: 'Erreur',
                            message: 'Erreur lors de lecture des données...'
                        });
                    });
            }
        },
        beforeRouteLeave(to, from, next) {
            this.$store.dispatch('reinitClaimers')
                .catch(error => {
                    this.$notify.error({
                        title: 'Erreur',
                        message: 'Une erreur inattendue est survenue, merci de contacter votre administrateur...'
                    });
                });
            next()
        }
    }

</script>
