<template>
    <el-container>
        <el-aside>
            <claims-side-bar :index="index"/>
        </el-aside>
        <el-main>
            <el-breadcrumb separator="/">
                <el-breadcrumb-item :to="{ name: 'dashboard:claims:index' }">
                    Gestion des plaintes
                </el-breadcrumb-item>
                <el-breadcrumb-item>Tableau de bord</el-breadcrumb-item>
            </el-breadcrumb>

            <el-row class="margin-top">
                <el-col :span="6">
                    <el-select
                            v-model="themesFilter"
                            multiple
                            style="width: 100%"
                            placeholder="Thème(s)">
                        <el-option
                                v-for="theme in themes"
                                :key="theme.id"
                                :label="theme.name_fr"
                                :value="theme.id">
                        </el-option>
                    </el-select>
                </el-col>

                <el-col :span="6">
                    <el-select
                            style="width: 100%"
                            v-model="municipalitiesFilter"
                            multiple
                            placeholder="Municipalité(s)">
                        <el-option
                                v-for="municipality in municipalities"
                                :key="municipality.id"
                                :label="municipality.name_fr"
                                :value="municipality.id">
                        </el-option>
                    </el-select>
                </el-col>

                <el-col :span="12">
                    <el-date-picker
                            v-model="dateFilter"
                            type="daterange"
                            unlink-panels
                            value-format="yyyy-MM-dd"
                            format="dd-MM-yyyy"
                            range-separator="à"
                            start-placeholder="Date de début"
                            end-placeholder="Date de fin">
                    </el-date-picker>
                    <el-button type="default" @click="filter">Filtrer</el-button>
                </el-col>
            </el-row>

            <div>
                <h2>Evolution du nombre de plaintes par rapport au temps</h2>
                <bar-chart :chartData="claimsDataCollection"
                           :options="{responsive: true, maintainAspectRatio: false}"
                           :height="400"/>

                <el-row>
                    <el-col :span="24">
                        <h2>Plaintes par thème</h2>
                    </el-col>
                    <el-col :span="10">
                        <polar-chart :chartData="themesDataCollection"
                                     :options="{responsive: true, maintainAspectRatio: false}" :height="400"/>
                    </el-col>
                    <el-col :span="14">
                        <el-table
                                :data="themesData"
                                style="width: 100%">
                            <el-table-column
                                    prop="theme"
                                    label="Thème">
                            </el-table-column>
                            <el-table-column
                                    prop="count"
                                    label="Total des plaintes"
                                    width="180">
                            </el-table-column>
                        </el-table>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="24">
                        <h2 style="margin-bottom: 0">Plaintes par municipalité</h2>
                    </el-col>

                    <el-col :span="14">
                        <el-table
                                :data="municipalitiesData"
                                style="width: 100%">
                            <el-table-column
                                    prop="municipality"
                                    label="Municipalité">
                            </el-table-column>
                            <el-table-column
                                    prop="count"
                                    label="Total des plaintes"
                                    width="180">
                            </el-table-column>
                        </el-table>
                    </el-col>

                    <el-col :span="10">
                        <doughnut-chart :chartData="municipalitiesDataCollection"
                                        :options="{responsive: true, maintainAspectRatio: false}" :height="400"/>
                    </el-col>
                </el-row>
                <div>
                    <h2>Evolution des plaintes par rapport au temps (tableau récaputilatif)</h2>
                    <el-table
                            :data="claimsData"
                            style="width: 100%">
                        <el-table-column
                                prop="dates"
                                label="Date">
                        </el-table-column>
                        <el-table-column
                                prop="count"
                                label="Total des plaintes"
                                width="180">
                        </el-table-column>
                    </el-table>
                    <h2>Répartition géographique des plaintes</h2>
                    <claims-map :claims="claims" style="height: 50vh"/>
                </div>
            </div>
        </el-main>
    </el-container>
</template>

<script>
    import axios from 'axios'
    import {mapGetters} from 'vuex'
    import randomColor from 'randomcolor'

    let moment = require('moment');
    require('twix');

    import {apiDomain as apiUrl} from '../../../../conf'

    import ClaimsSideBar from './../components/ClaimsSideBar'
    import ClaimsMap from './../../../../maps/components/ClaimsMap';

    import BarChart from './../../../../charts/BarChart'
    import DoughnutChart from './../../../../charts/DoughnutChart'
    import PolarChart from './../../../../charts/PolarChart'

    export default {
        components: {
            ClaimsSideBar,
            ClaimsMap,
            BarChart,
            DoughnutChart,
            PolarChart,
        },
        data() {
            return {
                index: '0-0',
                dateFilter: [],
                municipalitiesFilter: null,
                themesFilter: null,

                claimsDataCollection: null,
                themesDataCollection: null,
                municipalitiesDataCollection: null,

                claimsData: [],
                themesData: [],
                municipalitiesData: [],
            }
        },
        computed: {
            startDate: function () {
                if (this.dateFilter[0] !== undefined)
                    return this.dateFilter[0];
                else
                    return null
            },
            endDate: function () {
                if (this.dateFilter[1] !== undefined)
                    return this.dateFilter[1];
                else
                    return null
            },
            ...mapGetters({
                themes: 'getThemes',
                municipalities: 'getMunicipalities',
                claims: 'getClaims',
            })
        },
        mounted() {
            this.$store.dispatch('fetchThemes');
            this.$store.dispatch('fetchMunicipalities');
            this.fillClaimsData();
            this.fillThemesData();
            this.fillMunicipalitiesData();
            this.$store.dispatch('searchClaims', {params: {}});
        },
        methods: {
            async filter() {
                let params = {
                    themes: this.themesFilter.toString(),
                    municipalities: this.municipalitiesFilter.toString(),
                };

                if (this.date_range !== null) {
                    params['start_date'] = this.startDate;
                    params['end_date'] = this.endDate;
                }
                this.$store.dispatch('searchClaims', {params});
                this.fillClaimsData({params});
                this.fillThemesData({params});
                this.fillMunicipalitiesData({params});
            },
            async fillClaimsData(config = {params: {}}) {

                let start_date = '2018-01-01';
                let end_date = '2018-03-31';

                if (config.params['start_date'] !== undefined && config.params['start_date'] !== null) {
                    start_date = config.params['start_date'];
                }

                if (config.params['end_date'] !== undefined && config.params['end_date'] !== null) {
                    end_date = config.params['end_date'];
                }

                let period = await moment(start_date).twix(end_date, true).toArray('days');
                let calendar = [];
                let counter = [];

                axios(
                    {
                        method: 'GET',
                        params: config.params,
                        url: apiUrl + '/stats/claims/counter',
                    })
                    .then(response => {
                        let data = response.data;
                        this.claimsData = response.data;

                        for (let i = 0; i < period.length; i++) {
                            calendar.push(period[i].format("DD/MM/YYYY"));

                            let index = data.findIndex((x) => moment(x.dates).isSame(period[i]));
                            if (index === -1) {
                                counter.push(0)
                            } else {
                                counter.push(data[index].count)
                            }
                        }

                        this.claimsDataCollection = {
                            labels: calendar,
                            datasets: [
                                {
                                    label: 'Nombre de plaintes',
                                    backgroundColor: '#70a1ff',
                                    data: counter
                                },
                            ]
                        }
                    })
                    .catch(error => {
                        console.log(error)
                    })
            },
            async fillThemesData(config = {params: {}}) {
                let themes = [];
                let colors = [];
                let counter = [];
                axios(
                    {
                        method: 'GET',
                        params: config.params,
                        url: apiUrl + '/stats/themes/counter',
                    })
                    .then(response => {
                        let data = response.data;
                        this.themesData = response.data;
                        for (let i = 0; i < data.length; i++) {
                            themes.push(data[i].theme);
                            colors.push(data[i].color);
                            counter.push(data[i].count);
                        }
                        this.themesDataCollection = {
                            labels: themes,
                            datasets: [
                                {
                                    label: 'Plaintes par thèmes',
                                    backgroundColor: colors,
                                    data: counter
                                },
                            ]
                        }
                    })
                    .catch(error => {
                        console.log(error)
                    })
            },
            async fillMunicipalitiesData(config = {params: {}}) {
                let municipalities = [];
                let colors = [];
                let counter = [];
                axios(
                    {
                        method: 'GET',
                        params: config.params,
                        url: apiUrl + '/stats/municipalities/counter',
                    })
                    .then(response => {
                        let data = response.data;
                        this.municipalitiesData = response.data;
                        for (let i = 0; i < data.length; i++) {
                            municipalities.push(data[i].municipality);
                            colors.push(randomColor());
                            counter.push(data[i].count);
                        }
                        this.municipalitiesDataCollection = {
                            labels: municipalities,
                            datasets: [
                                {
                                    label: 'Plaintes par municipalité',
                                    backgroundColor: colors,
                                    data: counter
                                },
                            ]
                        }
                    })
                    .catch(error => {
                        console.log(error)
                    })
            },
        },
        beforeRouteLeave(to, from, next) {
            this.$store.dispatch('reinitThemes');
            this.$store.dispatch('reinitMunicipalities');
            this.$store.dispatch('reinitClaims');
            next()
        }
    }

</script>
