<template>
    <data-tables
            :data="claimers">
        <el-table-column
                v-for="title in titles"
                :prop="title.prop"
                :label="title.label"
                :key="title.prop"
                :width="title.width"
                sortable="custom">
        </el-table-column>
    </data-tables>
</template>

<script>
    export default {
        props: ['claimers'],
        data() {
            return {
                titles: [
                    {prop: 'name', label: 'Nom & Prénom'},
                    {prop: 'phone_number', label: 'Numéro de téléphone'},
                    {prop: 'mail', label: 'Adresse e-mail'},
                    {prop: 'claims_count', label: 'Nombre de plaintes'},
                ],
            }
        },
    }
</script>
