<template>
    <div class="mainContainer" :dir=direction>
        <link v-if="direction === 'rtl'" href="css/app.rtl.css" rel="stylesheet" type="text/css"/>

        <router-view name="navigation">
            <nav-bar/>
        </router-view>
        <router-view name="content"/>
    </div>
</template>

<script>
    // TODO RTL TLR From store
    import {mapGetters} from 'vuex'
    import Authentication from './../helpers/Authentication'

    import NavBar from './shared/NavBar'

    export default {
        name: 'app',
        components: {
            NavBar,
        },
        computed: {
            ...mapGetters({
                locale: 'getLocale',
                direction: 'getDirection'
            })
        },
        mounted() {
            if (this.$route.path.split('/')[1] === 'dashboard') {
                this.$store.dispatch('setDirection', {direction: 'ltr'})
                this.$store.dispatch('setLocale', {direction: 'fr'})
            }
            if (Authentication.isLoggedIn()) {
                this.$store.dispatch('login', Authentication.isLoggedIn());
                if (Authentication.isLoggedIn()) {
                    this.loadData();
                } else {
                    this.reinitData()
                }
            }
        },
        methods: {
            loadData() {
                this.$store.dispatch('login', Authentication.isLoggedIn());
            },
            reinitData() {
                this.$store.dispatch('login', Authentication.isLoggedIn());
            }
        }
    }
</script>
