<template>
    <el-container>
        <el-aside>
            <events-side-bar :index="index"/>
        </el-aside>
        <el-main>
            <el-breadcrumb separator="/">
                <el-breadcrumb-item :to="{ name: 'dashboard:claims:index' }">
                    Gestion des évènements
                </el-breadcrumb-item>
                <el-breadcrumb-item>Ajouter un évènement</el-breadcrumb-item>
            </el-breadcrumb>
            <div class="margin-top">
                <event-form/>
            </div>
        </el-main>

    </el-container>
</template>

<script>
    import EventsSideBar from '../components/EventsSideBar'
    import EventForm from '../components/EventForm'

    export default {
        components: {EventsSideBar, EventForm},
        data() {
            return {
                index: '0-1',
            }
        },
    }
</script>