<template>
    <el-container>
        <el-aside>
            <events-side-bar :index="index"/>
        </el-aside>
        <el-main>
            <el-breadcrumb separator="/">
                <el-breadcrumb-item :to="{ name: 'dashboard:claims:index' }">
                    Gestion des évènements
                </el-breadcrumb-item>
                <el-breadcrumb-item>Liste des évènements</el-breadcrumb-item>
            </el-breadcrumb>
            <events-table :events="events" />
        </el-main>

    </el-container>
</template>

<script>
    import {mapGetters} from 'vuex'

    import EventsSideBar from './../components/EventsSideBar'
    import EventsTable from './../components/EventsTable'

    export default {
        components: {EventsSideBar, EventsTable},
        data() {
            return {
                index: '0-2'
            }
        },
        computed: {
            ...mapGetters({
                events: 'getEvents'
            })
        },
        mounted() {
            this.$store.dispatch('fetchEvents')
        }
    }
</script>