<template>
    <el-container>
        <el-aside>
            <events-side-bar :index="index"/>
        </el-aside>
        <el-main style="padding: 0">
                <events-dashboard />
        </el-main>

    </el-container>
</template>
<script>
    import EventsSideBar from './../components/EventsSideBar'
    import EventsDashboard from './../components/EventsDashboard'

    export default {
        components: {EventsSideBar, EventsDashboard},
        data() {
            return {
                index: '0-0'
            }
        }
    }
</script>