<template>
    <el-menu :router="true"
             background-color="#F5F5F5"
             text-color="#222222"
             class="full-height"
             @select="navigateEvent"
             :default-active="index"
             :default-openeds="['0', '1']">

        <el-menu-item index="0-0" :route="{name: 'dashboard:localization:index'}">Tableau de bord</el-menu-item>
        <el-submenu index="0" >
            <template slot="title">
                <span>Gestion des municipalités</span>
            </template>
            <el-menu-item index="0-1" :route="{name: 'dashboard:localization:municipalities'}">Tableau de bord</el-menu-item>
            <el-menu-item index="0-2" :route="{name: 'dashboard:localization:municipalities:create'}">Ajouter une municipalité</el-menu-item>
            <el-menu-item index="0-3" :route="{name: 'dashboard:localization:municipalities:list'}">Liste des municipalités</el-menu-item>
        </el-submenu>

        <el-submenu index="1" >
            <template slot="title">
                <span>Configuration</span>
            </template>
            <el-menu-item index="1-0" :route="{name: 'dashboard:localization:countries'}">Pays</el-menu-item>
            <el-menu-item index="1-1" :route="{name: 'dashboard:localization:cities'}">Villes</el-menu-item>
        </el-submenu>

    </el-menu>
</template>

<script>
    export default {
        props: ['index'],
        methods: {
            navigateEvent(index) {
                this.$emit('select', index)
            }
        }
    }
</script>
