<template>
    <el-row :gutter="0">
        <el-col :span="24" style="padding: 0; position: fixed; width: 100%">
            <v-map :zoom=10 :center="[36.8188, 10.156]" ref="map" :minZoom=6 class="full-height">
                <v-tilelayer
                        url='https://{s}.tile.openstreetmap.se/hydda/full/{z}/{x}/{y}.png'
                        :options="mapOptions"/>
                <v-marker-cluster>
                    <v-marker v-for="event in events"
                              :key="event.id"
                              v-if="event.latitude !== null"
                              :lat-lng="[event.latitude, event.longitude]">
                        <v-popup :content="event.name_fr"/>
                    </v-marker>
                </v-marker-cluster>
            </v-map>
        </el-col>
        <el-col :span="5" style="padding: 0; position: fixed; right: 10px">
            <swiper :options="swiperOption" ref="eventsSwiper" style="height: calc(100vh - 61px)" @transitionEnd="changeSlide">
                <swiper-slide v-for="event in events" :key="event.id">
                    <el-card class="box-card" :data-id="event.id"
                             :data-latitude="event.latitude"
                             :data-longitude="event.longitude">
                        <h4 style="margin: 0;">{{event.name_fr}}</h4>
                        <small style="font-size: 0.8rem; color: #82848a">
                            Du {{formatDate(event.start_date)}} Au {{formatDate(event.end_date)}}
                        </small>

                        <small class="description">{{event.description_fr}}</small>

                    </el-card>
                </swiper-slide>
                <div class="swiper-pagination" slot="pagination"></div>
            </swiper>
        </el-col>
    </el-row>
</template>

<script>
    import {mapGetters} from 'vuex'
    import moment from 'moment'
    import Vue2Leaflet from 'vue2-leaflet'
    import Vue2LeafletMarkerCluster from 'vue2-leaflet-markercluster'

    import 'swiper/dist/css/swiper.css'

    import {swiper, swiperSlide} from 'vue-awesome-swiper'

    export default {
        components: {
            'v-map': Vue2Leaflet.Map,
            'v-tilelayer': Vue2Leaflet.TileLayer,
            'v-marker': Vue2Leaflet.Marker,
            'v-marker-cluster': Vue2LeafletMarkerCluster,
            'v-popup': Vue2Leaflet.Popup,
            swiper,
            swiperSlide
        },
        data() {
            return {
                mapOptions: {
                    attribution: 'Tiles courtesy of <a href="http://openstreetmap.se/" target="_blank">OpenStreetMap Sweden</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
                    minZoom: 0,
                    maxZoom: 18,
                },
                swiperOption: {
                    direction: 'vertical',
                    slidesPerView: 6,
                    mousewheel: true,
                    centeredSlides: true,
                    grabCursor: true,
                    loop: true,
                    slideToClickedSlide: true,
                },
            }
        },
        computed: {
            ...mapGetters({
                events: 'getEvents'
            }),
            swiper() {
                return this.$refs.eventsSwiper.swiper
            },
        },
        methods: {
            changeSlide() {
                this.flyToLocation()
            },
            flyToLocation() {
                let elements = document.getElementsByClassName('swiper-slide-active');
                let latitude = elements[0].firstChild.dataset.latitude;
                let longitude = elements[0].firstChild.dataset.longitude;
                let map = this.$refs.map.mapObject;
                map.flyTo([latitude, longitude], 12, {
                    bearing: 0,
                    speed: 0.2,
                    curve: 1,
                    easing: function (t) {
                        return t;
                    }
                })
            },
            formatDate(date) {
                return moment(date).format('DD/MM/YYYY')
            },
            isPast(date) {
                return moment(date).isBefore(moment(), 'day')
            }
        },
        mounted() {
            this.$store.dispatch('fetchEvents')
                .then(() => {
                    const index = this.events.findIndex((x) => !moment(x.start_date).isBefore(moment(), 'day'));
                    this.swiper.slideToLoop(index, 1000, true)
                })
        }
    }
</script>