<template>
    <el-form ref="eventForm" :model="event" :rules="rules">

        <el-row :gutter="20">
            <el-col :span="12">

                <el-form-item label="Date" prop="date_range">
                    <el-date-picker
                            style="width: 100%"
                            v-model="date_range"
                            type="daterange"
                            unlink-panels
                            value-format="yyyy-MM-dd"
                            format="dd-MM-yyyy"
                            range-separator="à"
                            start-placeholder="Date de début"
                            end-placeholder="Date de fin">
                    </el-date-picker>
                </el-form-item>

                <el-form-item prop="name_en" label="Label (en)">
                    <el-input placeholder="Label (en)" v-model="event.name_en"/>
                </el-form-item>
                <el-form-item prop="name_fr" label="Label (en)">
                    <el-input placeholder="Label (fr)" v-model="event.name_fr"/>
                </el-form-item>
                <el-form-item prop="name_ar" label="التسمية">
                    <el-input placeholder="التسمية" dir="rtl" v-model="event.name_ar"/>
                </el-form-item>

                <el-form-item prop="description_en" label="Description (en)">
                    <el-input placeholder="Description (en)" type="textarea" :rows="4" v-model="event.description_en"/>
                </el-form-item>
                <el-form-item prop="description_fr" label="Description (fr)">
                    <el-input placeholder="Description (fr)" type="textarea" :rows="4" v-model="event.description_fr"/>
                </el-form-item>
                <el-form-item prop="description_ar" label="تفاصيل">
                    <el-input placeholder="تفاصيل" dir="rtl" type="textarea" :rows="4" v-model="event.description_ar"/>
                </el-form-item>

                <el-form-item>
                    <el-button type="primary" @click="onSubmit">Sauvegrader</el-button>
                    <el-button>Annuler</el-button>
                </el-form-item>

            </el-col>
            <el-col :span="12">
                <v-map :zoom=10
                       :center="[36.8188, 10.156]"
                       v-on:l-click="setPostition"
                       ref="map" :minZoom=6
                       style="height: 80vh">
                    <v-tilelayer
                            url='https://{s}.tile.openstreetmap.se/hydda/full/{z}/{x}/{y}.png?name=fr'
                            :options="mapOptions"/>
                </v-map>
            </el-col>
        </el-row>

    </el-form>
</template>

<script>
    import {eventInitialData} from '../config'
    import Vue2Leaflet from 'vue2-leaflet'
    import L from 'leaflet';
    import {GeocodeService} from 'esri-leaflet-geocoder';

    export default {
        components: {
            'v-map': Vue2Leaflet.Map,
            'v-tilelayer': Vue2Leaflet.TileLayer,
            'v-marker': Vue2Leaflet.Marker,
        },
        data() {
            return {
                event: eventInitialData(),
                date_range: [],
                mapOptions: {
                    attribution: 'Tiles courtesy of <a href="http://openstreetmap.se/" target="_blank">OpenStreetMap Sweden</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
                    minZoom: 0,
                    maxZoom: 18,
                },
                marker: new L.marker(),
                geocodeService: new GeocodeService(),
                rules: {
                    name_en: [
                        {required: true, message: 'Le champ est obligatoire.', trigger: 'blur'},
                        {
                            min: 4,
                            max: 100,
                            message: 'La longueur du champ doit être comprise entre 4 et 100.',
                            trigger: 'blur'
                        }
                    ],
                    name_fr: [
                        {required: true, message: 'Le champ est obligatoire.', trigger: 'blur'},
                        {
                            min: 4,
                            max: 100,
                            message: 'La longueur du champ doit être comprise entre 4 et 100.',
                            trigger: 'blur'
                        }
                    ],
                    name_ar: [
                        {required: true, message: 'Le champ est obligatoire.', trigger: 'blur'},
                        {
                            min: 4,
                            max: 100,
                            message: 'La longueur du champ doit être comprise entre 4 et 100.',
                            trigger: 'blur'
                        }
                    ],
                    description_en: [
                        {required: true, message: 'Le champ est obligatoire.', trigger: 'blur'},
                        {
                            min: 12,
                            message: 'La longueur du champ doit être comprise entre 4 et 100.',
                            trigger: 'blur'
                        }
                    ],
                    description_fr: [
                        {required: true, message: 'Le champ est obligatoire.', trigger: 'blur'},
                        {
                            min: 12,
                            message: 'La longueur du champ doit être comprise entre 4 et 100.',
                            trigger: 'blur'
                        }
                    ],
                    description_ar: [
                        {required: true, message: 'Le champ est obligatoire.', trigger: 'blur'},
                        {
                            min: 12,
                            message: 'La longueur du champ doit être comprise entre 4 et 100.',
                            trigger: 'blur'
                        }
                    ],
                },
            };
        },
        computed: {
            startDate: function () {
                if (this.date_range[0] === undefined) return null;
                return this.date_range[0]
            },
            endDate: function () {
                if (this.date_range[1] === undefined) return null;
                return this.date_range[1]
            }
        },
        methods: {
            onSubmit() {
                this.$refs['eventForm'].validate((valid) => {
                    if (this.event.latitude === null || this.event.longitude === null) {
                        this.$message.error('Merci de spécifier l\'emplacement géographique de l\'évènement sur la carte...')
                        return false;
                    }
                    if (this.startDate === null || this.endDate === null) {
                        this.$message.error('Merci de spécifier les date prévue pour l\'évènement...');
                        return false;
                    }
                    if (valid) {
                        this.event.start_date = this.startDate;
                        this.event.end_date = this.endDate;
                        this.$store.dispatch('saveEvent', {event: this.event})
                            .then((event) => {
                                this.$message.success('L\'évènement a été enregistré avec succès...');
                                this.event = eventInitialData();
                            })
                            .catch(error => {
                                this.$message.error('Une erreur innatendue est survenue, merci de réessayer...')
                            });
                        return true
                    } else {
                        this.$message.error('Merci de vérifier les champs saisis...');
                        return false
                    }
                })
            },
            setPostition(e) {

                let map = this.$refs.map.mapObject;
                let marker = this.marker;

                let that = this;

                map.removeLayer(this.marker);
                this.geocodeService.reverse().latlng(e.latlng).run(function (error, result) {
                    marker.setLatLng(result.latlng)
                        .addTo(map)
                        .bindPopup(result.address.Match_addr)
                        .openPopup();
                    that.event.latitude = result.latlng.lat;
                    that.event.longitude = result.latlng.lng;
                });
            }
        }
    }
</script>