<template>
    <data-tables
            :data="events"
            :search-def="searchDef"
            :checkbox-filter-def="checkboxFilterDef"
            :actions-def="actionsDef"
            :action-col-def="actionColDef">
        <el-table-column
                v-for="title in titles"
                :prop="title.prop"
                :label="title.label"
                :key="title.prop"
                :width="title.width"
                sortable="custom">
        </el-table-column>
    </data-tables>
</template>

<script>

    export default {
        props: ['events'],
        data() {
            return {
                titles: [
                    {prop: 'name_fr', label: 'Evènement'},
                    {prop: 'start_date', label: 'Date de début'},
                    {prop: 'end_date', label: 'Date de fin'},
                ],
                checkboxFilterDef: {colProps: {span: 0}},
                actionsDef: {colProps: {span: 0}},
                searchDef: {colProps: {span: 24}},
                actionColDef: {
                    label: 'Actions',
                    width: '250',
                    tableColProps: {
                        align: 'center'
                    },
                    def: [{
                        name: 'Supprimer',
                        handler: row => {
                            this.$confirm('Voulez-vous vraiment supprimer l\'évènement ' +
                                row.name_fr + '. Continuer ?', 'Attention', {
                                confirmButtonText: 'Oui',
                                cancelButtonText: 'Annuler',
                                type: 'warning'
                            }).then(() => {
                                this.$store.dispatch('deleteEvent', {eventID: row.id}).then(() => {
                                    this.$message({
                                        type: 'success',
                                        message: 'Evènement supprimé avec succèss'
                                    });
                                }).catch((e) => {
                                    this.$message({
                                        type: 'warning',
                                        message: 'Une erreur inattendue est survenue. Merci de réessayer...'
                                    });
                                })
                            }).catch(() => {
                                this.$message({
                                    type: 'info',
                                    message: 'Suppression annulée...'
                                });
                            });
                        }
                    }]
                }
            }
        },
        methods: {
            //
        },
    }
</script>
