<template>
    <div>
        <data-tables
                :data="themes"
                :search-def="searchDef"
                :checkbox-filter-def="checkboxFilterDef"
                :actions-def="actionsDef"
                :action-col-def="actionColDef">
            <el-table-column
                    v-for="title in titles"
                    :prop="title.prop"
                    :label="title.label"
                    :key="title.prop"
                    :width="title.width"
                    sortable="custom">
            </el-table-column>
        </data-tables>
        <el-dialog title="Modifier pays" :visible.sync="dialogFormVisible">
            <themes-form
                    v-on:submitForm="updateTheme"
                    v-on:processImageComplete="processImageComplete"
                    :fileList="theme.attachments"
                    :attachable_id="attachable_id"
                    :autoUpload="true"
                    :theme="theme"
                    :validationError="validationError"/>
        </el-dialog>
    </div>
</template>

<script>
    import {initialThemesDetails, initialValidationError} from './../config'
    import ThemesForm from './ThemesForm'

    export default {
        props: ['themes'],
        components: {ThemesForm},
        data() {
            return {
                attachable_id: null,
                theme: initialThemesDetails(),
                validationError: initialValidationError(),
                dialogFormVisible: false,
                titles: [
                    {prop: 'name_fr', label: 'Désignation française'},
                ],
                checkboxFilterDef: {colProps: {span: 0}},
                actionsDef: {colProps: {span: 0}},
                searchDef: {colProps: {span: 24}},
                actionColDef: {
                    label: 'Actions',
                    width: '250',
                    tableColProps: {
                        align: 'center'
                    },
                    def: [{
                        name: 'Modifier',
                        handler: row => {
                            this.$store.dispatch('fetchTheme', {themeID: row.id})
                                .then(theme => {
                                    this.theme = theme;
                                    this.attachable_id = theme.id;
                                    console.log(this.attachable_id)
                                    this.dialogFormVisible = true;
                                })
                        }
                    }, {
                        name: 'Supprimer',
                        handler: row => {
                            this.$confirm('Voulez-vous vraiment supprimer le thème ' +
                                row.name_fr + '. Continuer ?', 'Attention', {
                                confirmButtonText: 'Oui',
                                cancelButtonText: 'Annuler',
                                type: 'warning'
                            }).then(() => {
                                this.$store.dispatch('deleteTheme', {themeID: row.id}).then(() => {
                                    this.$message({
                                        type: 'success',
                                        message: 'Pays supprimé avec succèss'
                                    });
                                }).catch((e) => {
                                    this.$message({
                                        type: 'warning',
                                        message: 'Une erreur inattendue est survenue. Merci de réessayer...'
                                    });
                                })
                            }).catch(() => {
                                this.$message({
                                    type: 'info',
                                    message: 'Suppression annulée...'
                                });
                            });
                        }
                    }]
                }
            }
        },
        methods: {
            updateTheme() {
                this.validationError = initialValidationError();
                this.$store.dispatch('saveTheme', {theme: this.theme})
                    .then(theme => {
                        this.$message.success('Thème ' + theme.name_fr + ' modifié avec succès.');
                        this.theme = initialThemesDetails();
                        this.$store.dispatch('fetchThemes');
                        this.dialogFormVisible = false
                    })
                    .catch((error) => {
                        this.$message.error('Erreur lors de l\'ajout d\'un nouveau thème, merci de vérifier vos paramètres.');
                        if (error.response !== undefined) {
                            if (error.response.status === 422) {
                                let errorData = error.response.data[1];
                                if (errorData['name_en'] !== undefined) {this.validationError.name_en = errorData['name_en'][0]}
                                if (errorData['name_fr'] !== undefined) {this.validationError.name_fr = errorData['name_fr'][0]}
                                if (errorData['name_ar'] !== undefined) {this.validationError.name_ar = errorData['name_ar'][0]}
                            }
                        }
                    })
            },
            processImageComplete() {
                this.attachable_id = null;
            }
        },
    }
</script>
