<template>
    <el-form :model="theme" :rules="rules" class="margin-top" ref="themeForm">

        <el-form-item prop="is_active" style="text-align: right">
            <el-switch
                    active-color="#13ce66"
                    inactive-color="#ff4949"
                    v-model="theme.is_active"
                    active-text="Activer"
                    inactive-text="Désactiver"/>
        </el-form-item>

        <el-form-item prop="name_en" :error="validationError.name_en" label="Désignation anglaise">
            <el-input placeholder="Désignation anglaise" v-model="theme.name_en" />
        </el-form-item>

        <el-form-item prop="name_fr" :error="validationError.name_fr" label="Désignation française">
            <el-input placeholder="Désignation française" v-model="theme.name_fr" />
        </el-form-item>

        <el-form-item prop="name_ar" :error="validationError.name_ar" label="التسمية العربية" dir="rtl">
            <el-input placeholder="التسمية العربية" v-model="theme.name_ar" />
        </el-form-item>

        <el-form-item prop="prop" label="Couleur">
            <el-color-picker v-model="theme.color"/>
        </el-form-item>

        <el-form-item>
            <el-upload
                    :data="{attachable_id}"
                    :headers="headers"
                    :with-credentials="true"
                    list-type="picture"
                    ref="uploadThemesImage"
                    :action="imageApiUpload"
                    :on-success="successUpload"
                    :auto-upload="autoUpload"
                    :file-list="fileList">
                <el-button type="warning">Images</el-button>
                <div slot="tip" class="el-upload__tip">fichiers jpg/png d'une taille inférieure à 500 Ko</div>
            </el-upload>
        </el-form-item>

        <el-form-item>
            <el-button type="primary" @click="onSubmit">Sauvegarder</el-button>
            <el-button @click="resetForm">Annuler</el-button>
        </el-form-item>

    </el-form>
</template>

<script>
    import * as Cookies from 'tiny-cookie'
    import {apiDomain} from './../../../../conf'

    export default {
        props: ['theme', 'validationError', 'attachable_id', 'fileList', 'autoUpload'],
        data() {
            return {
                rules: {
                    name_en: [
                        { required: true, message: 'Le champ est obligatoire.', trigger: 'blur' },
                        { min: 4, max: 100, message: 'La longueur du champ doit être comprise entre 4 et 100.', trigger: 'blur' }
                    ],
                    name_fr: [
                        { required: true, message: 'Le champ est obligatoire.', trigger: 'blur' },
                        { min: 4, max: 100, message: 'La longueur du champ doit être comprise entre 4 et 100.', trigger: 'blur' }
                    ],
                    name_ar: [
                        { required: true, message: 'Le champ est obligatoire.', trigger: 'blur' },
                        { min: 4, max: 100, message: 'La longueur du champ doit être comprise entre 4 et 100.', trigger: 'blur' }
                    ],
                },
                headers: {
                    'X-CSRF-TOKEN': window.Laravel.csrfToken,
                    'Authorization': Cookies.get('token'),
                },
                imageApiUpload: apiDomain + '/themes/upload'
            }
        },
        watch: {
            attachable_id: function (newValue) {
                this.$refs.uploadThemesImage.data.attachable_id = newValue;
                if (newValue !== null) {
                    this.$refs.uploadThemesImage.submit();
                    this.$emit('processImageComplete');
                }
                return newValue;
            }
        },
        methods: {
            onSubmit() {
                this.$refs['themeForm'].validate((valid) => {
                    if (valid) {
                        this.$emit('submitForm');
                        return true
                    } else {
                        return false
                    }
                })
            },
            resetForm() {
                this.$refs.themeForm.resetFields();
                this.$emit('resetForm')
            },
            successUpload() {
                //if (this.$refs.uploadThemesImage.autoUpload === false)
                    this.$refs.uploadThemesImage.clearFiles();
            }
        }
    }
</script>