<template>
    <div id="carousel" class="carousel">

        <div class="carousel__item">
            <img src="images/smoke3.jpg" alt="Sonio">
            <div class="slogan">
                <blockquote><span class="word">{{ $t('home.slogan-1-word-1') }}</span><br>
                    <strong class="word">{{ $t('home.slogan-1-word-2') }}</strong></blockquote>
            </div>
        </div>
        <div class="carousel__item">
            <img src="images/slogan1.jpg" alt="Sonio">
            <div class="slogan">
                <blockquote><span class="word">{{ $t('home.slogan-2-word-1') }}</span><br>
                    <strong class="word">{{ $t('home.slogan-2-word-2') }}</strong><br>
                    <cite>-- {{ $t('home.slogan-2-cite') }} --</cite></blockquote>
            </div>
        </div>
        <div class="carousel__item">
            <img src="images/slogan2.jpg" alt="Sonio">
            <div class="slogan">
                <blockquote><span class="word">{{ $t('home.slogan-3-word-1') }}</span><br>
                    <strong class="word">{{ $t('home.slogan-3-word-2') }}</strong><br>
                    <cite>-- {{ $t('home.slogan-3-cite') }} --</cite></blockquote>
            </div>
        </div>
        <div class="carousel__item">
            <img src="images/slogan3.jpg" alt="Sonio">
            <div class="slogan">
                <blockquote>
                    <span class="word">{{ $t('home.slogan-4-word-1') }}</span><br>
                    <strong class="word">{{ $t('home.slogan-4-word-2') }}</strong><br>
                    <cite class="word">-- {{ $t('home.slogan-4-cite') }} --</cite>
                </blockquote>
            </div>
        </div>
    </div>
</template>

<script>
    import anime from 'animejs'
    import Flickity from 'flickity';

    export default {
        data() {
            return {
                preloading: true
            }
        },
        methods: {
            carousel() {
                let that = this;
                new Flickity('#carousel', {
                    autoPlay: 6000,
                    pauseAutoPlayOnHover: true,
                    prevNextButtons: false,
                    pageDots: false,
                    wrapAround: true
                }).on('scroll', function () {
                    that.animateSlogan();
                })
            },
            animateSlogan() {
                anime({
                    targets: '.is-selected .slogan',
                    scale: [14, 1],
                    opacity: [0, 1],
                    easing: "easeOutCirc",
                    duration: 800,
                    delay: function (el, i) {
                        return 800 * i;
                    }
                });
            },
        },
        mounted() {
            this.carousel();
        }
    }

</script>

<style lang="scss" scoped>

    .carousel {
        position: absolute;
        left: 0;
        right: 0;
        overflow: hidden;
        z-index: 0;
        width: 100%;
        height: 100vh;

        .carousel__item {
            width: 100%;
            height: 100vh;
            position: relative;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .slogan {
                width: 100%;
                position: absolute;
                bottom: 12%;
                letter-spacing: -0.1rem;
            }
            .slogan blockquote {
                text-align: right;
                color: #ef9a9a;
                font-size: 1.6rem;
                line-height: 1.6rem;
                font-weight: 900;
                padding-right: 5%;
                padding-left: 5%;
                text-transform: uppercase;
                strong {
                    font-weight: 900;
                    color: #b71c1c;
                    font-size: 2rem;
                    text-transform: uppercase;
                }
                cite {
                    font-size: 1.3rem;
                    color: #bdc3c7;
                    text-transform: capitalize;
                }
            }
        }
    }
</style>