<template>
    <div class="p-forground" id="splash">
        <div class="splash-screen">
            <div>
                <el-button class="splash-up" type="primary" @click="changePosition">
                    <i v-if="!isVisible" class="el-icon-arrow-up"></i>
                    <i v-if="isVisible" class="el-icon-arrow-down"></i>
                </el-button>
            </div>
            <div class="iframe-container">

                <iframe src="https://www.youtube.com/embed/FzwZTOtzGrg" frameborder="0" gesture="media"
                        class="splash-iframe"
                        allow="encrypted-media" allowfullscreen="allowfullscreen" width="100%"
                        height="100%"></iframe>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                isVisible: false
            }
        },
        methods: {
            changePosition() {
                if (!this.isVisible) {
                    this.isVisible = true;
                    document.getElementById('splash').style.top = '20%';
                    document.getElementById('splash').translateY('-50%');
                } else {
                    this.isVisible = false;
                    document.getElementById('splash').style.top = '88%';
                }
            }
        },
    }
</script>

<style lang="scss" scoped>
    .p-middle {
        top: 20% !important;
        transform: translateY(-50%);
    }

    .p-forground {
        position: relative;
        height: auto;
        top: 88%;
        transition: top .3s;
        transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    }

    .splash-screen {
        width: 90%;
        height: auto;
        background: #f2f2f2;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 3px 0 3px rgba(0, 0, 0, .3);
        z-index: 20;
    }

    .iframe-container {
        position: relative;
        padding-bottom: 56.25%;
        width: 100%;
        height: 0
    }

    .splash-iframe {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
</style>