<template>
    <el-container>
        <el-aside>
            <configuration-side-bar/>
        </el-aside>
        <el-main>
            <el-breadcrumb separator="/">
                <el-breadcrumb-item :to="{ name: 'dashboard:configuration:index' }">
                    Configuration
                </el-breadcrumb-item>
                <el-breadcrumb-item>Tableau de bord</el-breadcrumb-item>
                <el-breadcrumb-item>Notices</el-breadcrumb-item>
                <el-breadcrumb-item>Details</el-breadcrumb-item>
            </el-breadcrumb>

            <el-row class="margin-top">
                <notices-form :notice="notice" :active="lang"/>
            </el-row>

        </el-main>
    </el-container>
</template>

<script>
    import {
        initialNoticeDetails,
        initialTermOfUse,
        initialSwornStatement,
        initialLegalNotice,
        initialConfidentialityAndCookies
    } from './../config'

    import ConfigurationSideBar from './../../shared/components/ConfigurationSideBar'
    import NoticesForm from './../components/NoticesForm'

    export default {
        components: {
            ConfigurationSideBar,
            NoticesForm,
        },
        data() {
            return {
                notice: initialNoticeDetails()
            }
        },
        computed: {
            lang: function () {
                return this.$route.params.lang;
            }
        },
        mounted() {
            let id = parseInt(this.$route.params.id);
            let page = this.$route.params.page;
            if (id !== -1) {
                this.$store.dispatch('fetchNotice', {noticeID: id})
                    .then(result => {
                        this.notice = result;
                    })
                    .catch(error => {
                        this.$message.error('Erreur lors de la lecture des détails de la notice...');
                    })
            } else {
                switch (page) {
                    case 'confidentiality_and_cookies':
                        this.notice = initialConfidentialityAndCookies();
                        break;
                    case 'term_of_use':
                        this.notice = initialTermOfUse();
                        break;
                    case 'sworn_statement':
                        this.notice = initialSwornStatement();
                        break;
                    case 'legal_notice':
                        this.notice = initialLegalNotice();
                        break;
                }
            }
        }
    }
</script>