<template>
    <el-container>
        <el-aside>
            <configuration-side-bar :index="index"/>
        </el-aside>
        <el-main>
            <el-breadcrumb separator="/">
                <el-breadcrumb-item :to="{ name: 'dashboard:configuration:index' }">
                    Configuration
                </el-breadcrumb-item>
                <el-breadcrumb-item>Tableau de bord</el-breadcrumb-item>
                <el-breadcrumb-item>Pages</el-breadcrumb-item>
            </el-breadcrumb>

            <el-row class="margin-top">
                <el-col :span="12"><notices-card :notice="confidentialityAndCookies" /></el-col>
                <el-col :span="12"><notices-card :notice="legalNotice" /></el-col>
                <el-col :span="12"><notices-card :notice="swornStatement" /></el-col>
                <el-col :span="12"><notices-card :notice="termOfUse" /></el-col>
            </el-row>

        </el-main>
    </el-container>
</template>

<script>
    import {mapGetters} from 'vuex'
    import ConfigurationSideBar from './../../shared/components/ConfigurationSideBar'
    import NoticesCard from './../components/NoticesCard'

    export default {
        components: {
            ConfigurationSideBar,
            NoticesCard,
        },
        data() {
            return {
                index: '1',
            }
        },
        computed: {
            ...mapGetters({
                confidentialityAndCookies: 'getConfidentialityAndCookies',
                legalNotice: 'getLegalNotice',
                swornStatement: 'getSwornStatement',
                termOfUse: 'getTermOfUse',
            }),
        },
        mounted() {
            this.$store.dispatch('fetchNotices')
        }
    }
</script>