<template>
    <el-row>
        <el-col :span="14">
            <h2>Ajouter un article</h2>
            <p>Afin d'ajouter un article, il suffit de coller le lien dans le champ prévu et sauvegarder...<br>
                Un aperçu serait généré automatiquement afin de pouvoir prévisualiser l'article avant publication...</p>
        </el-col>
        <el-col :span="10" class="margin-top">
            <el-form :model="review" :rules="rules" ref="reviewForm">

                <el-form-item label="Lien vers l'article" prop="url">
                    <el-input placeholder="Merci de saisir le lien vers l'article" v-model="review.url"/>
                </el-form-item>

                <el-form-item>
                    <el-button type="default" @click="submit">Sauvegarder</el-button>
                </el-form-item>

            </el-form>

            <div class="margin-top">
                <link-prevue :url="review.url"/>
            </div>
        </el-col>
    </el-row>
</template>

<script>
    import LinkPrevue from '../../../libs/LinkPreview'

    export default {
        props: ['review'],
        components: {LinkPrevue},
        data() {
            return {
                rules: {
                    url: [
                        {required: true, message: 'Le lien est obligatoire', trigger: 'blur'},
                        {type: 'url', message: 'Le champs doit être un lien valide', trigger: 'blur'},
                    ],
                }
            }
        },
        methods: {
            submit() {
                this.$refs['reviewForm'].validate((valid) => {
                    if (valid) {
                        this.$emit('submit')
                    } else {
                        return false;
                    }
                })
            }
        }
    }
</script>