<template>
    <el-menu
            class="main-nav"
            :router="true"
             background-color="#b71c1c"
             text-color="#fff"
             active-text-color="#f2f2f2"
             mode="horizontal"
             :default-active="activeIndex">
        <el-menu-item :route="{name: 'index'}" index="0" class="logo">{{siteName}}</el-menu-item>
        <el-menu-item v-if="isLoggedIn" :route="{name: 'dashboard:localization:index'}" index="1">Municipalités</el-menu-item>
        <el-menu-item v-if="isLoggedIn" :route="{name: 'dashboard:claims:index'}" index="2">Plaintes</el-menu-item>
        <el-menu-item v-if="isLoggedIn" :route="{name: 'dashboard:petitions:index'}" index="3">Petitions</el-menu-item>
        <el-menu-item v-if="isLoggedIn" :route="{name: 'dashboard:events:index'}" index="4">Evènements</el-menu-item>
        <el-menu-item v-if="isLoggedIn" :route="{name: 'dashboard:press:index'}" index="5">Revue de presse</el-menu-item>

        <el-menu-item v-if="isLoggedIn" :route="{name: 'dashboard:users:index'}" index="96">Utilisateurs</el-menu-item>
        <el-menu-item v-if="isLoggedIn" :route="{name: 'dashboard:configuration:index'}" index="97">Configuration</el-menu-item>

        <el-menu-item index="98" v-if="isLoggedIn" v-on:click="logout" class="right-nav-item">Se déconnecter</el-menu-item>
        <el-menu-item :route="{name: 'auth:login'}" index="99" v-if="!isLoggedIn" class="right-nav-item">Se connecter</el-menu-item>
    </el-menu>
</template>

<script>
    import {mapGetters} from 'vuex'
    import Authentication from './../../helpers/Authentication'
    import {siteName} from './../../conf'

    export default {
        name: 'top-menu',
        data() {
            return {
                activeIndex: '0',
                siteName: siteName
            }
        },
        computed: {
            ...mapGetters({
                isLoggedIn: 'getLoginStatus',
            }),
        },
        methods: {
            logout() {
                Authentication.bearerLogOut().then(() => {
                    this.$store.dispatch('logout');
                    this.$router.push({name: 'auth:login'});
                });
            }
        }
    }
</script>