<template>
    <el-container>
        <el-aside>
            <localization-side-bar :index="index"/>
        </el-aside>
        <el-main>
            <el-breadcrumb separator="/">
                <el-breadcrumb-item :to="{ name: 'dashboard:users:index' }">Gestion des municipalités</el-breadcrumb-item>
                <el-breadcrumb-item>Configuration</el-breadcrumb-item>
                <el-breadcrumb-item>Ville</el-breadcrumb-item>
            </el-breadcrumb>
            <cities-form
                    v-on:submitForm="addCity"
                    v-on:resetForm="resetCity"
                    :city="city"
                    :countries="countries"
                    :validationError="validationError" />
            <cities-table :cities="cities"/>
        </el-main>
    </el-container>
</template>

<script>
    import {mapGetters} from 'vuex'

    import {initialCitiesDetails, initialValidationError} from './../config'

    import LocalizationSideBar from './../../shared/components/LocalizationSideBar'
    import CitiesForm from './../components/CitiesForm'
    import CitiesTable from './../components/CitiesTable'
    import Authentication from "../../../../helpers/Authentication";

    export default {
        components: {LocalizationSideBar, CitiesForm, CitiesTable},
        data() {
            return {
                index: '1-1',
                city: initialCitiesDetails(),
                validationError: initialValidationError()
            }
        },
        computed: {
            ...mapGetters({
                cities: 'getCities',
                countries: 'getCountries',
            }),
        },
        methods: {
            addCity() {
                this.validationError = initialValidationError();
                this.$store.dispatch('saveCity', {city: this.city})
                    .then(city => {
                        this.$message.success('Ville ' + city.name + 'créée avec succès.');
                        this.city = initialCitiesDetails();
                    })
                    .catch((error) => {
                        this.$message.error('Erreur lors de l\'ajout d\'une nouvelle ville, merci de vérifier vos paramètres.');
                        if (error.response !== undefined) {
                            if (error.response.status === 422) {
                                let errorData = error.response.data[1];
                                if (errorData['name_en'] !== undefined) {this.validationError.name_en = errorData['name_en'][0]}
                                if (errorData['name_fr'] !== undefined) {this.validationError.name_fr = errorData['name_fr'][0]}
                                if (errorData['name_ar'] !== undefined) {this.validationError.name_ar = errorData['name_ar'][0]}
                                if (errorData['country_id'] !== undefined) {this.validationError.country_id = errorData['country_id'][0]}
                            }
                        }
                    })
            },
            resetCity() {
                this.city = initialCitiesDetails();
            }
        },
        mounted() {
            if (Authentication.isLoggedIn()) {
                this.$store.dispatch('fetchCities')
                    .catch(error => {
                        this.$notify.error({
                            title: 'Erreur',
                            message: 'Erreur lors de lecture des données...'
                        });
                    });
                this.$store.dispatch('fetchCountries')
                    .catch(error => {
                        this.$notify.error({
                            title: 'Erreur',
                            message: 'Erreur lors de lecture des données...'
                        });
                    });
            }
        },
        beforeRouteLeave(to, from, next) {
            this.$store.dispatch('reinitCities')
                .catch(error => {
                    this.$notify.error({
                        title: 'Erreur',
                        message: 'Une erreur inattendue est survenue, merci de contacter votre administrateur...'
                    });
                });
            this.$store.dispatch('reinitCountries')
                .catch(error => {
                    this.$notify.error({
                        title: 'Erreur',
                        message: 'Une erreur inattendue est survenue, merci de contacter votre administrateur...'
                    });
                });
            next()
        }
    }

</script>
