<template>
    <div class="accordion" v-bind="navElement" v-bind:class="{ 'accordion--active': isActive }">
        <button v-on:click="$router.push({name: navElement.routeName})" class="button accordion__trigger" type="button">
                    <span class="button__symbol--square">
                        <svg class="icon icon-camera">
                            <use :href="navElement.icon"></use>
                        </svg>
                    </span>
            <span class="button__label" style="text-transform: uppercase">{{navElement.label}}</span>
        </button>
        <div class="accordion__panel">
            <p>{{navElement.description}}</p>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['navElement'],
        computed: {
            isActive: function () {
                return this.$route.name === this.navElement.routeName
            }
        },
    }
</script>

<style lang="scss" scoped>
    @import "./../../../../sass/zaza-ui/goulelhom.scss";
</style>
