<template>
    <div>
        <div class="locales">
            <a href="#" @click="setLocale('fr')">Français</a>
            <a href="#" @click="setLocale('ar')">عربى</a>
            <a href="#" @click="setLocale('en')">English</a>
        </div>

        <ul class="social-icons icon-circle">

            <li>{{$t('RAJ Tunisie')}}</li>
            <li>{{$t('Join us')}}</li>
            <li>{{$t('Partners')}}</li>
            <li>
                <router-link :to="{ name: 'pages:confidentiality_and_cookies'}">{{$t('Confidentiality & Cookies')}}</router-link>
            </li>
            <li>
                <router-link :to="{ name: 'pages:term_of_use'}">{{$t('Legal Mentions')}}</router-link>
            </li>
            <li>
                <router-link :to="{ name: 'pages:contact-us'}">{{$t('Contact us')}}</router-link>
            </li>
        </ul>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import Vue from 'vue'

    export default {
        methods: {
            setLocale(locale) {
                this.$store.dispatch('setLocale', {locale});
                document.lang = locale;

                Vue.config.lang = locale;
                this.$i18n.locale = Vue.config.lang;

                if (locale === 'ar') {
                    this.$store.dispatch('setDirection', {direction: 'rtl'})
                } else {
                    this.$store.dispatch('setDirection', {direction: 'ltr'})
                }
            }
        }
    }
</script>

<style lang="scss">

    .fa {
        line-height: 2rem;
        width: 2rem;
        height: 2rem;
        font-size: 1.2rem;
    }

    .mainContainer[dir='rtl'] {
        .footer {
            left: auto;
        }
        #p-content, #p-content-undeconstruction {
            margin-left: 0;
        }
        .slogan blockquote {
            text-align: left !important;
        }
    }

    .social-icons .fa {
        text-align: center;
        color: #FFF;
        color: rgba(255, 255, 255, 0.8);
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
</style>