<template>
    <el-button id="menu-button" class="float-button" type="primary" @click="toggleMenu">
        <i class="el-icon-menu"></i>
    </el-button>
</template>

<script>
    export default {
        methods: {
            toggleMenu() {
                document.getElementById('aside').style.display = 'block';
                document.getElementById('menu-button').style.display = 'none';
            }
        }
    }
</script>