<i18n src="../../i18n/locales.json"/>
<template>
    <aside id="aside" class="l-aside aside">
        <nav id="asideNavigation" class="l-navigation navigation">
            <div id="asideNavigationLogotype"
                 class="navigation__logo-type logo-type logo-type--img logo-type--logotypeNegative">
                <h1 class="logo">
                    <router-link style="text-transform: uppercase" :to="{name: 'public:index'}" class="type">
                        {{ $t('navigation.home.title') }}
                    </router-link>
                </h1>
            </div>
            <button id="toggleEdisaTrigger" class="button button--square close-menu" type="button" @click="hideMenu">
                <i class="el-icon-circle-close"></i>
            </button>
        </nav>
        <p class="aside__description">{{ $t('navigation.home.description') }}<br>{{
            $t('navigation.home.description_2') }}</p>
        <div id="accordion" class="aside__accordion">

            <accordion-element v-for="navElement in navBarElements"
                               :key="navElement.id"
                               :navElement="navElement"/>
        </div>
    </aside>
</template>

<script>
    import AccordionElement from './AccordionElement.vue'

    const removeClass = (el, className) => {
        if (el.classList) {
            el.classList.remove(className);
        } else {
            el.className = el.className.replace(new RegExp(`(^|\\b)${className.split(' ').join('|')}(\\b|$)`, 'gi'), ' ');
        }
    };

    export default {
        components: {AccordionElement},
        data() {
            return {
                show: true
            }
        },
        methods: {
            hideMenu() {
                document.getElementById('aside').style.display = 'none';
                document.getElementById('menu-button').style.display = 'block';
            }
        },
        computed: {
            locale: function () {
                return this.$i18n.locale
            },
            navBarElements: function () {
                return [
                    {
                        id: 1,
                        icon: '/images/icons/symbol-defs.svg#icon-camera',
                        label: this.$t('navigation.complains.title'),
                        description: this.$t('navigation.complains.description'),
                        routeName: 'public:claims'
                    },
                    {
                        id: 2,
                        icon: '/images/icons/symbol-defs.svg#icon-pen',
                        label: this.$t('navigation.petitions.title'),
                        description: this.$t('navigation.petitions.description'),
                        routeName: 'public:petitions'
                    },
                    {
                        id: 3,
                        icon: '/images/icons/symbol-defs.svg#icon-calendar',
                        label: this.$t('navigation.events.title'),
                        description: this.$t('navigation.events.description'),
                        routeName: 'public:events'
                    },
                    {
                        id: 4,
                        icon: '/images/icons/symbol-defs.svg#icon-library',
                        label: this.$t('navigation.municipalities.title'),
                        description: this.$t('navigation.municipalities.description'),
                        routeName: 'public:municipalities'
                    },
                    {
                        id: 5,
                        icon: '/images/icons/symbol-defs.svg#icon-files-empty',
                        label: this.$t('navigation.reports.title'),
                        description: this.$t('navigation.reports.description'),
                        routeName: 'public:reports'
                    },
                    {
                        id: 6,
                        icon: '/images/icons/symbol-defs.svg#icon-bullhorn',
                        label: this.$t('navigation.press.title'),
                        description: this.$t('navigation.press.description'),
                        routeName: 'public:press'
                    },
                ]
            },
        },
    }
</script>

<style lang="scss" scoped>
    .mainContainer[dir='rtl'] {
        .aside {
            left: auto;
        }
    }
</style>