<template>
    <div style="position: fixed; right: 8px; width: 50px; top:50vh; transform: translateY(-50%); z-index: 40">
        <ul class="social-icons icon-circle icon-zoom list-unstyled list-inline">
            <li><a href="https://www.facebook.com/GoulelHom/" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/goulelhom" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCNVW0ABp0EMHDKeiBKkq4pQ/featured" target="_blank"><i class="fa fa-youtube"></i></a></li>
            <li><a href="https://www.instagram.com/GoulelHom/" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://www.linkedin.com/company/goulel-hom/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        </ul>
    </div>
</template>

<script>
    export default {}
</script>