$break-xs: 480px;
$break-md: 840px;
$break-lg: 1200px;

@import "aside";
// @import "contact";
@import "underconstruction";
@import "municipalities";
@import "locales";

.splash-up {
  // top: 2.5rem;
  left: 2.5rem;
}

.footer * {
  margin-right: 8px;
}

.events-container {
  padding: 0;
  position: fixed;
  right: 10px
}

.float-button {
  position: fixed;
  left: 3rem;
  top: 3rem;
  transform: translateX(-50%) translateY(-50%);
  z-index: 100;
  box-shadow: 3px 0 3px rgba(0, 0, 0, .3);

  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
  text-align: center;
  display: none;
}

/*
MOBILE
 */
@media screen and (max-width: $break-xs) {
  .float-button {
    display: inline-block;
  }

  .events-container {
    right: 0
  }

  .float-button-hidden {
    display: none;
  }

  #p-content {
    margin-left: 0 !important;
  }
  .footer {
    margin-left: 0;
    width: 100%;
    display: none;
  }
  .p-form {
    right: 0;
    left: 0;
    width: 100%;
    margin: auto;
    height: 100vh !important;
    .p-form-content {
      padding: 0 !important;
    }
  }
  .el-card__body {
    padding: 5px !important;
  }
  .notice_container {
    padding: 8px !important;
  }
}

/*
TABLET
 */
@media screen and (min-width: $break-xs) and (max-width: $break-md) {
  .events-container {
    right: 0
  }

  #p-content {
    margin-left: 0 !important;
  }
  .footer {
    margin-left: 0;
    width: 100%;
    display: none;
  }
  .p-form {
    margin: auto 1vh auto auto;
    left: 0;
    width: 100%;
    height: 100vh !important;
    .p-form-content {
      padding: 12px !important;
    }
  }
  .el-card__body {
    padding: 10px !important;
  }
  .el-col-sm-12 {
    width: 50%;
  }
  .notice_container {
    padding: 16px !important;
  }

  .float-button {
    display: inline-block;
  }
  .float-button-hidden {
    display: none;
  }
}

/*
SMALL DESKTOP
 */
@media screen and (min-width: $break-md) and (max-width: $break-lg) {
  //
}

/*
DESKTOP
 */
@media screen and (min-width: $break-lg) {
  //
}

#p-content {
  margin-left: 350px;
  min-height: 100vh;
  width: 100%;
  background: #f2f2f2
}

.p-map {
  padding: 0;
  position: fixed;
  width: 100%;
  left: 0;
}

.notice_container {
  padding: 32px;
  * {
    text-align: justify;
  }
}

.p-background {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.el-upload--text {
  width: 100%;
}

.el-upload-dragger {
  width: 100%;
}

.p-wrapper {
  display: flex;
}

.icon {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: -1px;
  fill: currentColor;
  stroke: currentColor;
  stroke-width: 0;
}

.p-form {
  background: #ffffff;
  border-radius: 2px;
  position: fixed;
  right: 2vh;
  top: 2vh;
  height: 96vh;
  box-shadow: 3px 0 3px rgba(0, 0, 0, .3);
  transition: top .3s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  .p-form-content {
    padding: 20px;
  }
  .title {
    text-align: right;
    margin-top: 0;
    margin-bottom: 0;
  }
  p {
    margin-top: 0;
    line-height: 1.2rem;
    text-align: justify;
  }
  .controls {
    text-align: right;
  }
}

.p-form-2 {
  background: #ffffff;
  border-radius: 2px;
  //position: fixed;
  //right: 2vh;
  // top: 2vh;
  min-height: 96vh;
  box-shadow: 3px 0 3px rgba(0, 0, 0, .3);
  //transition: top .3s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  .p-form-content {
    padding: 20px;
  }
  .title {
    text-align: right;
    margin-top: 0;
    margin-bottom: 0;
  }
  p {
    margin-top: 0;
    line-height: 1.2rem;
    text-align: justify;
  }
  .controls {
    text-align: right;
  }
}

.p-form::-webkit-scrollbar, .p-form-2::-webkit-scrollbar {
  display: none;
}

.band {
  &.el-card {
    border: none;
    .el-card__body {
      color: #f2f2f2;
      background: orange;
      .el-breadcrumb__inner {
        color: #f2f2f2;
      }
    }
  }
}

.footer {
  z-index: 20;
  position: fixed;
  margin-left: 350px;
  left: 0;
  bottom: 0;
  width: calc(100% - 350px);
  height: 2rem;
  line-height: 2rem;
  background-color: #222222;
  text-align: right;
  * {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 12px;
    color: #f2f2f2;
  }
  ul {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    li {
      text-decoration: none;
      list-style-type: none;
      font-size: 0.8rem;
    }
  }
}

.splash-up {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  box-shadow: 3px 0 3px rgba(0, 0, 0, .3);

  display: inline-block;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
  text-align: center;
}

.el-menu--horizontal {
  z-index: 1001;
}
