#app {
  padding-top: 60px;
}

.main-nav {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 999;
}

.el-aside {
  position: fixed;
}

.el-main {
  margin-left: 300px;
}

.right-nav-item {
  float: right !important;
  margin-right: 12px !important;
}
