@charset "UTF-8";
// @import "reset";
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.snow.css';
@import '~quill/dist/quill.bubble.css';
@import "~flickity/dist/flickity.min.css";

$--color-primary: #b71c1c;
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

// @import "col";

// @import '~element-ui/packages/theme-chalk/src/display';

@import url('https://fonts.googleapis.com/css?family=Cairo:400,700,900&subset=arabic,latin-ext');

html, body {
  margin: 0 !important;
  padding: 0 !important;
  border: 0;
  min-height: 100vh;
  //font-family: 'Cairo', sans-serif !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

#app {
  // min-height: 100vh;
}

.el-col {
  padding: 15px;
}

.full-height {
  min-height: calc(100vh - 61px);
}

.container {
  min-height: calc(100vh - 91px);
  background: #EEEEEE;
  padding: 15px
}

dt {
  font-weight: bold;
}

.title {
  text-align: center;
}

.margin-top {
  margin-top: 24px;
}

.el-select, .el-cascader {
  width: 100%;
}

@import "base";
@import "navigation";
@import "login";

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* close commented backslash hack */

.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide {
  background: none !important;
  width: 100%;

  z-index: 30 !important;
  .box-card {
    margin-left: 5px;
    margin-right: 5px;
    background: #0D47A1;
    color: #f2f2f2;
    border: none;
    width: 100%;
    .description {
      //display: none;
    }
  }
}

.swiper-slide-active {
  z-index: 40 !important;
  .box-card {
    margin-left: 0;
    margin-right: 0;
    background: #f2f2f2;
    color: #222222;
    min-height: 30vh;
    box-shadow: 0 0 38px rgba(0, 0, 0, 0.30), 0 0px 12px rgba(0, 0, 0, 0.22);
    .description {
      display: block;
    }
  }
}

.swiper-slide-next, .swiper-slide-prev {

  .box-card {
    z-index: 30 !important;
    border: #f2f2f2;
    box-shadow: 0 0 38px rgba(0, 0, 0, 0.30), 0 0px 12px rgba(0, 0, 0, 0.22);
    .description {
      display: block;
    }
  }
}

a {
  text-decoration: none;
}

.claims-title {
  color: #222222;
  font-size: 1.5rem;
}

.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}

.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}

.avatar {
  width: 178px;
  height: 178px;
  display: block;
}

@import "front";
@import "social";
