<template>
    <el-container>
        <el-aside>
            <localization-side-bar :index="index"/>
        </el-aside>
        <el-main>
            <el-breadcrumb separator="/">
                <el-breadcrumb-item :to="{ name: 'dashboard:localization:index' }">
                    Gestion des municipalités
                </el-breadcrumb-item>
                <el-breadcrumb-item :to="{ name: 'dashboard:localization:municipalities' }">
                    Tableau de bord
                </el-breadcrumb-item>
                <el-breadcrumb-item>Ajouter Municipalités</el-breadcrumb-item>
            </el-breadcrumb>

            <municipalities-form
                    v-on:submitForm="addMunicipality"
                    v-on:resetForm="resetMunicipality"
                    v-on:processImageComplete="processImageComplete"
                    :fileList="fileList"
                    :attachable_id="attachable_id"
                    :autoUpload="false"
                    :cities="cities"
                    :validationError="validationError"
                    :municipality="municipality" />

        </el-main>
    </el-container>
</template>

<script>
    import {mapGetters} from 'vuex'

    import Authentication from './../../../../helpers/Authentication'
    import {initialMunicipalitiesDetails, initialValidationError} from './../config'
    import MunicipalitiesForm from './../components/MunicipalitiesForm'

    import LocalizationSideBar from './../../shared/components/LocalizationSideBar'

    export default {
        components: {LocalizationSideBar, MunicipalitiesForm},
        data() {
            return {
                index: '0-2',
                municipality: initialMunicipalitiesDetails(),
                validationError: initialValidationError(),
                attachable_id: null,
                fileList: [],
            }
        },
        computed: {
            ...mapGetters({
                cities: 'getCities',
            }),
        },
        methods: {
            addMunicipality() {
                this.validationError = initialValidationError();
                this.$store.dispatch('saveMunicipality', {municipality: this.municipality})
                    .then(municipality => {
                        this.$message.success('municipalité ' + municipality.name_fr + ' créée avec succès.');
                        this.attachable_id = municipality.id;
                        this.resetMunicipality();
                    })
                    .catch((error) => {
                        this.$message.error('Erreur lors de l\'ajout d\'une nouvelle municipalité, merci de vérifier vos paramètres.');
                        if (error.response !== undefined && error.response.status !== undefined) {
                            if (error.response.status === 422) {
                                let errorData = error.response.data[1];
                                if (errorData['name_en'] !== undefined) {this.validationError.name_en = errorData['name_en'][0]}
                                if (errorData['name_fr'] !== undefined) {this.validationError.name_fr = errorData['name_fr'][0]}
                                if (errorData['name_ar'] !== undefined) {this.validationError.name_ar = errorData['name_ar'][0]}
                                if (errorData['city_id'] !== undefined) {this.validationError.city_id = errorData['city_id'][0]}
                            }
                        }
                    });
            },
            resetMunicipality() {
                this.municipality = initialMunicipalitiesDetails();
            },
            processImageComplete() {
                this.attachable_id = null;
            }
        },
    }

</script>
