<template>
    <el-container>
        <el-aside>
            <localization-side-bar :index="index"/>
        </el-aside>
        <el-main>
            <el-breadcrumb separator="/">
                <el-breadcrumb-item :to="{ name: 'dashboard:localization:index' }">
                    Gestion des municipalités
                </el-breadcrumb-item>
                <el-breadcrumb-item :to="{ name: 'dashboard:localization:municipalities' }">
                    Tableau de bord
                </el-breadcrumb-item>
                <el-breadcrumb-item>Liste des Municipalités</el-breadcrumb-item>
            </el-breadcrumb>
            <municipalities-table :municipalities="municipalities" />
        </el-main>
    </el-container>
</template>

<script>
    import {mapGetters} from 'vuex'

    import LocalizationSideBar from './../../shared/components/LocalizationSideBar'
    import MunicipalitiesTable from './../components/MunicipalitiesTable'
    import Authentication from "../../../../helpers/Authentication";

    export default {
        components: {LocalizationSideBar, MunicipalitiesTable},
        data() {
            return {
                index: '0-3'
            }
        },
        computed: {
            ...mapGetters({
                municipalities: 'getMunicipalities',
            }),
        },
        mounted() {
            if (Authentication.isLoggedIn()) {
                this.$store.dispatch('fetchMunicipalities')
                    .catch(error => {
                        this.$notify.error({
                            title: 'Erreur',
                            message: 'Erreur lors de lecture des données...'
                        });
                    });
            }
        },
        beforeRouteLeave(to, from, next) {
            this.$store.dispatch('reinitMunicipalities')
                .catch(error => {
                    this.$notify.error({
                        title: 'Erreur',
                        message: 'Une erreur inattendue est survenue, merci de contacter votre administrateur...'
                    });
                });
            next()
        }
    }

</script>
