<template>
    <el-container>
        <el-aside>
            <localization-side-bar/>
        </el-aside>
        <el-main>
            <el-breadcrumb separator="/">

                <el-breadcrumb-item :to="{ name: 'dashboard:localization:index' }">
                    Gestion des municipalités
                </el-breadcrumb-item>
                <el-breadcrumb-item :to="{ name: 'dashboard:localization:municipalities' }">
                    Tableau de bord
                </el-breadcrumb-item>
                <el-breadcrumb-item :to="{ name: 'dashboard:localization:municipalities:list' }">
                    Liste des Municipalités
                </el-breadcrumb-item>
                <el-breadcrumb-item>Détails Municipalité</el-breadcrumb-item>
            </el-breadcrumb>

            <municipalities-details
                    :municipality="municipality"
                    :relativePopulation="relativePopulation"
                    :relativeHouses="relativeHouses"
            />

        </el-main>
    </el-container>
</template>

<script>

    import Authentication from './../../../../helpers/Authentication'
    import {initialMunicipalitiesDetails} from './../config'

    import LocalizationSideBar from './../../shared/components/LocalizationSideBar'
    import MunicipalitiesDetails from './../components/MunicipalitiesDetails'

    export default {
        components: {
            LocalizationSideBar,
            MunicipalitiesDetails,
        },
        data() {
            return {
                municipality: initialMunicipalitiesDetails(),
                relativePopulation: 0,
                relativeHouses: 0,
            }
        },
        mounted() {
            if (Authentication.isLoggedIn()) {
                this.$store.dispatch('fetchMunicipality', {municipalityID: this.$route.params.id})
                    .then(municipality => {
                        this.municipality = municipality;
                        let relativePopulation = this.municipality.population * 100 / this.municipality.city.population;
                        if (isNaN(relativePopulation)) {
                            this.relativePopulation = 0
                        } else {
                            this.relativePopulation = relativePopulation;
                        }

                        let relativeHouses = this.municipality.houses * 100 / this.municipality.city.houses;
                        if (isNaN(relativeHouses)) {
                            this.relativeHouses = 0
                        } else {
                            this.relativeHouses = relativeHouses;
                        }
                    })
                    .catch(error => {
                        this.$message.error('Erreur lors de la lecture des détails de la municipalité...');
                        console.log(error)
                    })
            }
        },
    }

</script>

