<template>
    <el-button :type="type" :lang="lang" @click="goTo" plain>{{ label }}</el-button>
</template>

<script>
    export default {
        props: ['label', 'id', 'type', 'page', 'lang'],
        successEn() {
            if (this.notice.content_en === null ||
                this.notice.content_en === '')
                return 'info';
            return 'success'
        },
        methods: {
            goTo(){
                this.$router.push({
                    name: 'dashboard:configuration:notices:details',
                    params: {
                        id: this.id,
                        page: this.page,
                        lang: this.lang,
                    }
                })
            }
        }
    }
</script>