<template>
    <div>
        <el-form v-model="notice">

            <el-tabs tab-position="right">
                <el-tab-pane label="Anglais">

                    <el-form-item label="Titre de la section">
                        <el-input v-model="notice.title_en" type="text"/>
                    </el-form-item>

                    <el-form-item>
                        <quill-editor v-model="notice.content_en" />
                    </el-form-item>

                </el-tab-pane>

                <el-tab-pane label="Français">

                    <el-form-item label="Titre de la section">
                        <el-input v-model="notice.title_fr" type="text"/>
                    </el-form-item>

                    <el-form-item>
                        <quill-editor v-model="notice.content_fr" />
                    </el-form-item>

                </el-tab-pane>

                <el-tab-pane label="Arabe"q>

                    <el-form-item label="Titre de la section">
                        <el-input v-model="notice.title_ar" dir="rtl" type="text"/>
                    </el-form-item>

                    <el-form-item>
                        <quill-editor v-model="notice.content_ar" />
                    </el-form-item>

                </el-tab-pane>

            </el-tabs>
            <el-form-item>
                <el-button type="primary" @click="onSubmit">Sauvegarder</el-button>
                <!-- <el-button @click="resetForm">Annuler</el-button> -->
            </el-form-item>
        </el-form>
    </div>
</template>

<script>
    export default {
        props: ['notice', 'active'],
        methods: {
            onSubmit()
            {
                this.$store.dispatch('saveNotice', {notice: this.notice}).then(notice => {
                    this.$store.dispatch('fetchNotices');
                    this.$store.dispatch('fetchPages');
                }).catch(e => {
                    console.log(e)
                })
            }
        },
        mounted(){
            console.log(this.notice)
        }
    }
</script>