<template>
    <el-card>
        <div class="text item">
            <h3>{{ notice.title_fr }}</h3>
            <div style="text-align: right">
                <notices-lang-button :id="notice.id" :type="successEn" :page="notice.page" lang="en" label="Anglais" />
                <notices-lang-button :id="notice.id" :type="successFr" :page="notice.page" lang="fr" label="Français" />
                <notices-lang-button :id="notice.id" :type="successAr" :page="notice.page" lang="ar" label="Arabe" />
            </div>
        </div>
    </el-card>
</template>

<script>

    import NoticesLangButton from './NoticesLangButton'

    export default {
        props: ['notice'],
        components: {NoticesLangButton},
        computed: {
            successEn() {
                if (this.notice.content_en === null ||
                    this.notice.content_en === '')
                    return 'info';
                return 'success'
            },
            successFr() {
                if (this.notice.content_fr === null ||
                    this.notice.content_fr === '')
                    return 'info';
                return 'success'
            },
            successAr() {
                if (this.notice.content_ar === null ||
                    this.notice.content_ar === '')
                    return 'info';
                return 'success'
            },
        },
    }
</script>