<template>
    <div>
        <div v-if="true" v-masonry transition-duration="0.3s" item-selector=".item" class="masonry-container">
            <el-col v-masonry-tile class="item" v-for="(event, index) in events" :key="event.id"
                    :xs="24" :sm="12" :lg="8">
                <el-card class="box-card" :data-id="event.id"
                         :data-latitude="event.latitude"
                         :data-longitude="event.longitude">
                    <h4 style="margin: 0;">{{event['name_'+ $i18n.locale] }}</h4>
                    <small style="font-size: 0.8rem; color: #82848a">
                        Du {{formatDate(event.start_date)}} Au {{formatDate(event.end_date)}}
                    </small>

                    <VEmbed :id="'gist_' + event.id"
                            :options="{ emoji: false, googleAuthKey : 'AIzaSyCd5vfKP6P5O6BTi1okd6WtHCfHurawkCg', videoDetails: false, videoHeight: 200}">
                        <p>{{event['description_'+ $i18n.locale] }}</p>
                    </VEmbed>

                </el-card>
            </el-col>
        </div>
        <!--
        <el-row :gutter="0" v-if="width >= 480">
            <el-col :span="24" style="padding: 0; position: fixed; width: 100%">
                <v-map :zoom=10 :center="[36.8188, 10.156]" ref="map" :minZoom=6 style="height: 100vh">
                    <v-tilelayer
                            url='https://{s}.tile.openstreetmap.se/hydda/full/{z}/{x}/{y}.png'
                            :options="mapOptions"/>
                    <v-marker-cluster>
                        <v-marker v-for="eventMarker in events"
                                  :key="eventMarker.id"
                                  v-if="eventMarker.latitude !== null"
                                  :lat-lng="[eventMarker.latitude, eventMarker.longitude]">
                            <v-popup>
                                <div style="text-align: center">
                                    <h4 style="margin: 0;">{{eventMarker['name_'+ $i18n.locale] }}</h4>
                                    <small style="font-size: 0.8rem; color: #82848a">
                                        Du {{formatDate(eventMarker.start_date)}} Au
                                        {{formatDate(eventMarker.end_date)}}
                                    </small>
                                    <br>

                                    <small class="description">{{eventMarker['description_'+ $i18n.locale] }}</small>
                                </div>
                            </v-popup>
                        </v-marker>
                    </v-marker-cluster>
                </v-map>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="6" class="events-container">
                <swiper :options="swiperOption" ref="eventsSwiper" style="height: 100vh" @transitionEnd="changeSlide">
                    <swiper-slide v-for="event in events" :key="event.id">
                        <el-card class="box-card" :data-id="event.id"
                                 :data-latitude="event.latitude"
                                 :data-longitude="event.longitude">
                            <h4 style="margin: 0;">{{event['name_'+ $i18n.locale] }}</h4>
                            <small style="font-size: 0.8rem; color: #82848a">
                                Du {{formatDate(event.start_date)}} Au {{formatDate(event.end_date)}}
                            </small>

                            <VEmbed :id="'gist_' + event.id"
                                    :options="{ emoji: false, googleAuthKey : 'AIzaSyCd5vfKP6P5O6BTi1okd6WtHCfHurawkCg', videoDetails: false, videoHeight: 200}">
                                <p>{{event['description_'+ $i18n.locale] }}</p>
                            </VEmbed>

                        </el-card>
                    </swiper-slide>
                    <div class="swiper-pagination" slot="pagination"></div>
                </swiper>
            </el-col>
        </el-row>
        -->
    </div>
</template>


<script>
    import {mapGetters} from 'vuex'
    import moment from 'moment'
    import Vue2Leaflet from 'vue2-leaflet'
    import Vue2LeafletMarkerCluster from 'vue2-leaflet-markercluster'

    import 'swiper/dist/css/swiper.css'

    import L from 'leaflet'

    import {swiper, swiperSlide} from 'vue-awesome-swiper'
    import VEmbed from 'vue-embed'

    export default {
        components: {
            'v-map': Vue2Leaflet.Map,
            'v-tilelayer': Vue2Leaflet.TileLayer,
            'v-marker': Vue2Leaflet.Marker,
            'v-marker-cluster': Vue2LeafletMarkerCluster,
            'v-popup': Vue2Leaflet.Popup,
            swiper,
            swiperSlide,
            VEmbed
        },
        data() {
            return {
                mapOptions: {
                    attribution: 'Tiles courtesy of <a href="http://openstreetmap.se/" target="_blank">OpenStreetMap Sweden</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
                    minZoom: 0,
                    maxZoom: 18,
                },
                swiperOption: {
                    direction: 'vertical',
                    slidesPerView: 6,
                    mousewheel: true,
                    centeredSlides: true,
                    grabCursor: true,
                    loop: true,
                    slideToClickedSlide: true,
                },
                circle: L.circle([36.8188, 10.166], 1000),
                // isVisible: true,
            }
        },
        computed: {
            ...mapGetters({
                events: 'getEvents'
            }),
            swiper() {
                return this.$refs.eventsSwiper.swiper
            },
            width() {
                return window.innerWidth
            },
            isVisible() {
                return this.width >= 480;
            }
        },
        methods: {
            changeSlide() {
                this.flyToLocation()
            },
            flyToLocation() {
                let elements = document.getElementsByClassName('swiper-slide-active');
                let latitude = parseFloat(elements[0].firstChild.dataset.latitude);
                let longitude = parseFloat(elements[0].firstChild.dataset.longitude) + 0.025;
                let map = this.$refs.map.mapObject;
                this.circle.setLatLng([latitude, parseFloat(elements[0].firstChild.dataset.longitude)]);

                map.flyTo([latitude, longitude], 14, {
                    bearing: 0,
                    speed: 0.2,
                    curve: 1,
                    easing: function (t) {
                        return t;
                    }
                });
                this.circle.addTo(map);
            },
            formatDate(date) {
                return moment(date).format('DD/MM/YYYY')
            },
            isPast(date) {
                return moment(date).isBefore(moment(), 'day')
            }
        },
        mounted() {
            this.$store.dispatch('fetchPublicEvents')
                .then(() => {
                    if (window.innerWidth < 480) {
                        this.isVisible = false;
                    } else {
                        const index = this.events.findIndex((x) => !moment(x.start_date).isBefore(moment(), 'day'));
                        this.swiper.slideToLoop(index, 1000, true)
                    }
                })
        }
    }
</script>
