<template>
    <div>
        <data-tables
                :data="petitions"
                :search-def="searchDef"
                :checkbox-filter-def="checkboxFilterDef"
                :actions-def="actionsDef"
                :action-col-def="actionColDef">
            <el-table-column
                    v-for="title in titles"
                    :prop="title.prop"
                    :label="title.label"
                    :key="title.prop"
                    :width="title.width"
                    sortable="custom">
            </el-table-column>
        </data-tables>
    </div>
</template>

<script>
    export default {
        props: ['petitions'],
        data() {
            return {
                titles: [
                    {prop: 'name', label: 'Titre'},
                    {prop: 'petitioner.name', label: 'Lancé par'},
                    {prop: 'theme.name_fr', label: 'Thème'},
                    {prop: 'start_date', label: 'Date de début'},
                    {prop: 'end_date', label: 'Date de fin'},
                ],
                checkboxFilterDef: {colProps: {span: 0}},
                actionsDef: {colProps: {span: 0}},
                searchDef: {colProps: {span: 24}},
                actionColDef: {
                    label: 'Actions',
                    width: '250',
                    tableColProps: {
                        align: 'center'
                    },
                    def: [{
                        name: 'Détails',
                        handler: row => {
                            window.location.href = "https://www.goulelhom.org/fr/petitions/" + row.uuid;
                        }
                    }, {
                        name: 'Supprimer',
                        handler: row => {
                            this.$confirm('Voulez-vous vraiment supprimer la pétitions ' +
                                row.name + '. Continuer ?', 'Attention', {
                                confirmButtonText: 'Oui',
                                cancelButtonText: 'Annuler',
                                type: 'warning'
                            }).then(() => {
                                this.$store.dispatch('deletePetition', {petitionID: row.id}).then(() => {
                                    this.$message({
                                        type: 'success',
                                        message: 'Pétitions supprimé avec succèss'
                                    });
                                }).catch((e) => {
                                    this.$message({
                                        type: 'warning',
                                        message: 'Une erreur inattendue est survenue. Merci de réessayer...'
                                    });
                                })
                            }).catch(() => {
                                this.$message({
                                    type: 'info',
                                    message: 'Suppression annulée...'
                                });
                            });
                        }
                    }]
                }
            }
        },
    }
</script>
