<template>
    <el-container>
        <el-aside>
            <configuration-side-bar :index="index"/>
        </el-aside>
        <el-main>
            <el-breadcrumb separator="/">
                <el-breadcrumb-item :to="{ name: 'dashboard:configuration:index' }">
                    Configuration
                </el-breadcrumb-item>
                <el-breadcrumb-item>Tableau de bord</el-breadcrumb-item>
            </el-breadcrumb>

            <div>Configuration Dashboard</div>

        </el-main>
    </el-container>
</template>

<script>
    import ConfigurationSideBar from './../components/ConfigurationSideBar'

    export default {
        components: {ConfigurationSideBar},
        data() {
            return {
                index: '0',
            }
        },
    }
</script>