<template>
    <el-row>
        <el-col :span="24">
            <h2 style="margin-bottom: 0">Plaintes par municipalité</h2>
        </el-col>

        <el-col :span="12">
            <el-select
                    v-model="themesFilter"
                    multiple
                    style="margin-left: 20px;"
                    placeholder="Thèmes">
                <el-option
                        v-for="theme in themes"
                        :key="theme.id"
                        :label="theme.name_fr"
                        :value="theme.id">
                </el-option>
            </el-select>
        </el-col>

        <el-col :span="12">
            <el-date-picker
                    v-model="date_range"
                    type="daterange"
                    unlink-panels
                    value-format="yyyy-MM-dd"
                    format="dd-MM-yyyy"
                    range-separator="à"
                    start-placeholder="Date de début"
                    end-placeholder="Date de fin">
            </el-date-picker>
            <el-button type="default" @click="filter">Filtrer</el-button>
        </el-col>

        <el-col :span="14">
            <el-table
                    :data="municipalitiesData"
                    style="width: 100%">
                <el-table-column
                        prop="municipality"
                        label="Municipalité">
                </el-table-column>
                <el-table-column
                        prop="count"
                        label="Total des plaintes"
                        width="180">
                </el-table-column>
            </el-table>
        </el-col>

        <el-col :span="10">
            <doughnut-chart :chartData="municipalitiesDataCollection"
                            :options="{responsive: true, maintainAspectRatio: false}" :height="400"/>
        </el-col>
    </el-row>
</template>

<script>
    import axios from 'axios'
    import {mapGetters} from 'vuex'
    import {apiDomain as apiUrl} from '../../conf'
    import BarChart from './../../charts/BarChart'
    import DoughnutChart from './../../charts/DoughnutChart'
    import PolarChart from './../../charts/PolarChart'

    let randomColor = require('randomcolor');

    export default {
        components: {BarChart, DoughnutChart, PolarChart},
        data() {
            return {
                municipalitiesDataCollection: null,
                municipalitiesData: [],
                date_range: null,
                themesFilter: [],
            }
        },
        computed: {
            ...mapGetters({
                themes: 'getThemes'
            })
        },
        mounted() {
            this.fillMunicipalitiesData();
            this.$store.dispatch('fetchThemes');
        },
        methods: {
            filter() {
                let params = {
                    themes: this.themesFilter.toString(),
                };
                if (this.date_range !== null) {
                    params['start_date'] = this.date_range[0];
                    params['end_date'] = this.date_range[1];
                }
                this.fillMunicipalitiesData({params});
            },
            async fillMunicipalitiesData(config = {params: {}}) {
                let themes = [];
                let colors = [];
                let counter = [];
                axios(
                    {
                        method: 'GET',
                        params: config.params,
                        url: apiUrl + '/stats/municipalities/counter',
                    })
                    .then(response => {
                        let data = response.data;
                        this.municipalitiesData = response.data;
                        for (let i = 0; i < data.length; i++) {
                            themes.push(data[i].municipality);
                            colors.push(randomColor());
                            counter.push(data[i].count);
                        }
                        this.municipalitiesDataCollection = {
                            labels: themes,
                            datasets: [
                                {
                                    label: 'Plaintes par municipalité',
                                    backgroundColor: colors,
                                    data: counter
                                },
                            ]
                        }
                    })
                    .catch(error => {
                        console.log(error)
                    })
            }
        }
    }

</script>
