<template>
    <div>
        <el-card class="margin-top" v-for="claim in claims" :key="claim.id">
            <div class="text item">
                <router-link :to="{ name: 'dashboard:claims:claims:details', params: { id: claim.id }}"
                             class="claims-title"
                             v-bind:style="[claim.is_new ? {'font-weight': 'bold', 'color': 'green'} : '']">
                    {{claim.subject }}
                </router-link>
                <br>
                <small>{{ claim.claimer.name }}</small>
                <p>{{ claim.description }}</p>
                <div style="text-align: right">
                    <div>
                    <el-switch
                            active-color="#13ce66"
                            inactive-color="#ff4949"
                            active-text="Nouveau"
                            v-model="claim.is_new"
                            disabled>
                    </el-switch>
                    <el-switch
                            active-color="#13ce66"
                            inactive-color="#ff4949"
                            active-text="Est Modéré"
                            v-model="claim.is_moderated"
                            disabled>
                    </el-switch>
                    <el-switch
                            active-color="#13ce66"
                            inactive-color="#ff4949"
                            active-text="Est Valide"
                            v-model="claim.is_valid"
                            disabled>
                    </el-switch>
                    </div>
                <div class="margin-top">
                    <el-button type="default"
                               @click="$router.push({ name: 'dashboard:claims:claims:details', params: { id: claim.id }})"
                    >Détails</el-button>
                    <el-button type="danger" @click="deleteClaim(claim.id)">Supprimer</el-button>
                </div>
                </div>
            </div>
            <el-row>
                <el-col :span="3" v-for="attachment in claim.attachments" :key="attachment.id">
                    <img :src="attachment.url" height="120">
                </el-col>
            </el-row>
        </el-card>
    </div>
</template>

<script>
    export default {
        props: ['claims'],
        data() {
            return {
                titles: [
                    {prop: 'claimer.name', label: 'Plainant'},
                    {prop: 'subject', label: 'Sujet'},
                    {prop: 'theme.name_fr', label: 'Thème'},
                    {prop: 'municipality.name_fr', label: 'Municipalité'},
                ],
            }
        },
        methods: {
            deleteClaim(id) {
                console.log(id)
                this.$confirm('Voulez-vous vraiment supprimer la plainte ' +
                    '. Continuer ?', 'Attention', {
                    confirmButtonText: 'Oui',
                    cancelButtonText: 'Annuler',
                    type: 'warning'
                }).then(() => {
                    this.$store.dispatch('deleteClaim', {claimID: id}).then(() => {
                        this.$message({
                            type: 'success',
                            message: 'plainte supprimé avec succèss'
                        });
                    }).catch((e) => {
                        this.$message({
                            type: 'warning',
                            message: 'Une erreur inattendue est survenue. Merci de réessayer...'
                        });
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: 'Suppression annulée...'
                    });
                });
            }
        }
    }
</script>
