<template>
    <div v-model="municipality">
        <div>
            <el-row :gutter="24">
                <el-col :xs="24" :sm="12" :lg="16">
                    <h1 class="title">{{ municipality['name_'+ $i18n.locale] }}</h1>

                    <el-col :xs="24" :lg="12" style="text-align: center">
                        <el-progress type="circle" :percentage="parseFloat(relativePopulation.toFixed(2))"/><br>
                        <span>% total population of {{ municipality.city['name_'+ $i18n.locale] }}</span>
                    </el-col>

                    <el-col :xs="24" :lg="12" style="text-align: center">
                        <el-progress type="circle" :percentage="parseFloat(relativeHouses.toFixed(2))"/><br>
                        <span>% total housing of {{ municipality.city['name_'+ $i18n.locale] }}</span>
                    </el-col>

                    <el-card class="stat margin-top">
                        <div class="text item">
                            <el-col :xs="24" :lg="12" style="text-align: center"><b>Inhabitants / Housing</b></el-col>
                            <el-col :xs="24" :lg="12" style="text-align: center">{{ (municipality.population / municipality.houses).toFixed(3) }}</el-col>
                        </div>
                    </el-card>

                    <p style="text-align: justify" v-if="municipality['description_'+ $i18n.locale] !== null">{{ municipality['description_'+ $i18n.locale] }}</p>

                </el-col>
                <el-col :xs="24" :sm="12" :lg="8" class="infos">

                    <h3>Informations de contacts</h3>
                    <el-row style="padding: 0">
                        <el-col v-if="municipality.city" :xs="24" style="padding: 0"><b>City</b></el-col>
                        <el-col v-if="municipality.city" :xs="24" :lg="12" style="padding: 0">{{ municipality.city.name_fr }}</el-col>
                        <el-col v-if="municipality.website" :xs="24" style="padding: 0"><b>Website</b></el-col>
                        <el-col v-if="municipality.website" :xs="24" :lg="12" style="padding: 0">{{ municipality.website }}</el-col>
                        <el-col v-if="municipality.phone" :xs="24" style="padding: 0"><b>Phone number</b></el-col>
                        <el-col v-if="municipality.phone" :xs="24" :lg="12" style="padding: 0">{{ municipality.phone }}</el-col>
                        <el-col v-if="municipality.email" :xs="24" style="padding: 0"><b>E-mail</b></el-col>
                        <el-col v-if="municipality.email" :xs="24" :lg="12" style="padding: 0">{{ municipality.email }}</el-col>
                        <el-col v-if="municipality.fax" :xs="24" style="padding: 0"><b>Fax</b></el-col>
                        <el-col v-if="municipality.fax" :xs="24" :lg="12" style="padding: 0">{{ municipality.fax }}</el-col>
                    </el-row>
                    <h3>General</h3>
                    <el-row style="padding: 0">
                        <el-col :xs="24" :lg="12" style="padding: 0"><b>Population</b></el-col>
                        <el-col v-if="municipality.population" :xs="24" :lg="12" style="padding: 0">{{ municipality.population }}</el-col>
                        <el-col v-if="!municipality.population" :xs="24" :lg="12" style="padding: 0"><i>not defined</i></el-col>

                        <el-col :xs="24" :lg="12" style="padding: 0"><b>Housing</b></el-col>
                        <el-col v-if="municipality.houses" :xs="24" :lg="12" style="padding: 0">{{ municipality.houses }}</el-col>
                        <el-col v-if="!municipality.population" :xs="24" :lg="12" style="padding: 0"><i>not defined</i></el-col>

                        <el-col :xs="24" :lg="12" style="padding: 0"><b>Municipal council</b></el-col>
                        <el-col v-if="municipality.municipal_council_number" :xs="24" :lg="12" style="padding: 0">{{ municipality.municipal_council_number }}</el-col>
                        <el-col v-if="!municipality.municipal_council_number" :xs="24" :lg="12" style="padding: 0"><i>not defined</i></el-col>

                        <el-col :xs="24" :lg="12" style="padding: 0"><b>Regional council</b></el-col>
                        <el-col v-if="municipality.regional_council_number" :xs="24" :lg="12" style="padding: 0">{{ municipality.regional_council_number }}</el-col>
                        <el-col v-if="!municipality.regional_council_number" :xs="24" :lg="12" style="padding: 0"><i>not defined</i></el-col>
                    </el-row>
                </el-col>

                <el-col :xs="24" style="text-align: center">
                    <flickity ref="flickity" :options="flickityOptions" class="margin-top carousel"
                              v-if="municipality.attachments.length > 0 || municipality.cover !== null">
                        <div class="carousel-cell" v-for="attachment in attachments" :key="attachment.id">
                            <img :src="attachment.url">
                        </div>
                        <div class="carousel-cell">
                            <img :src="municipality.cover.url">
                        </div>
                    </flickity>
                </el-col>
            </el-row>
        </div>
    </div>
</template>
<script>
    import Flickity from 'vue-flickity';

    export default {
        props: ['municipality', 'relativePopulation', 'relativeHouses'],
        components: {
            Flickity,
        },
        data() {
            return {
                flickityOptions: {
                    prevNextButtons: false,
                    wrapAround: true,
                },
            }
        },
        computed: {
            is_active: function () {
                return this.municipality.is_active
            },
            attachments: function () {
                if (this.municipality.attachments.length > 0) {
                    this.municipality.attachments.shift()
                }
                return this.municipality.attachments
            },
        },
    }
</script>


<style lang="scss" scoped>

</style>
