<template>
    <el-container>
        <el-aside>
            <claims-side-bar :index="index"/>
        </el-aside>
        <el-main>
            <el-breadcrumb separator="/">
                <el-breadcrumb-item :to="{ name: 'dashboard:claims:index' }">
                    Gestion des plaintes
                </el-breadcrumb-item>
                <el-breadcrumb-item>Configuration</el-breadcrumb-item>
                <el-breadcrumb-item>Theme</el-breadcrumb-item>
            </el-breadcrumb>
            <themes-form
                    v-on:submitForm="addTheme"
                    v-on:resetForm="resetTheme"
                    v-on:processImageComplete="processImageComplete"
                    :fileList="fileList"
                    :attachable_id="attachable_id"
                    :autoUpload="false"
                    :theme="theme"
                    :validationError="validationError" />
            <themes-table :themes="themes"/>
        </el-main>
    </el-container>
</template>

<script>
    import {mapGetters} from 'vuex'
    import {initialThemesDetails, initialValidationError} from './../config'

    import ClaimsSideBar from './../../shared/components/ClaimsSideBar'
    import ThemesForm from './../components/ThemesForm'
    import ThemesTable from './../components/ThemesTable'
    import Authentication from "../../../../helpers/Authentication";

    export default {
        components: {ClaimsSideBar, ThemesForm, ThemesTable},
        data() {
            return {
                index: '1-0',
                theme: initialThemesDetails(),
                validationError: initialValidationError(),
                attachable_id: null,
                fileList: [],
            }
        },
        computed: {
            ...mapGetters({
                themes: 'getThemes',
            }),
        },
        methods: {
            addTheme() {
                this.validationError = initialValidationError();
                this.$store.dispatch('saveTheme', {theme: this.theme})
                    .then(theme => {
                        this.$message.success('Thème ' + theme.name_fr + ' créé avec succès.');
                        this.attachable_id = theme.id;
                        this.resetTheme();
                    })
                    .catch((error) => {
                        this.$message.error('Erreur lors de l\'ajout d\'un nouveau thème, merci de vérifier vos paramètres.');
                        if (error.response !== undefined) {
                            if (error.response.status === 422) {
                                let errorData = error.response.data[1];
                                if (errorData['name_en'] !== undefined) {this.validationError.name_en = errorData['name_en'][0]}
                                if (errorData['name_fr'] !== undefined) {this.validationError.name_fr = errorData['name_fr'][0]}
                                if (errorData['name_ar'] !== undefined) {this.validationError.name_ar = errorData['name_ar'][0]}
                            }
                        }
                    })
            },
            resetTheme() {
                this.theme = initialThemesDetails();
            },
            processImageComplete() {
                this.attachable_id = null;
            }
        },
        mounted() {
            if (Authentication.isLoggedIn()) {
                this.$store.dispatch('fetchThemes')
                    .catch(error => {
                        this.$notify.error({
                            title: 'Erreur',
                            message: 'Erreur lors de lecture des données...'
                        });
                    });
            }
        },
        beforeRouteLeave(to, from, next) {
            this.$store.dispatch('reinitThemes')
                .catch(error => {
                    this.$notify.error({
                        title: 'Erreur',
                        message: 'Une erreur inattendue est survenue, merci de contacter votre administrateur...'
                    });
                });
            next()
        }
    }

</script>
