<template>
    <el-container>
        <el-aside>
            <localization-side-bar :index="index"/>
        </el-aside>
        <el-main>
            <el-breadcrumb separator="/">
                <el-breadcrumb-item :to="{ name: 'dashboard:users:index' }">Gestion des municipalités</el-breadcrumb-item>
                <el-breadcrumb-item>Configuration</el-breadcrumb-item>
                <el-breadcrumb-item>Pays</el-breadcrumb-item>
            </el-breadcrumb>
            <countries-form
                    v-on:submitForm="addCountry"
                    v-on:resetForm="resetCountry"
                    :country="country"
                    :validationError="validationError" />
            <countries-table :countries="countries"/>
        </el-main>
    </el-container>
</template>

<script>
    import {mapGetters} from 'vuex'

    import Authentication from './../../../../helpers/Authentication'
    import {initialCountriesDetails, initialValidationError} from './../config'

    import LocalizationSideBar from './../../shared/components/LocalizationSideBar'
    import CountriesForm from './../components/CountriesForm'
    import CountriesTable from './../components/CountriesTable'

    export default {
        components: {LocalizationSideBar, CountriesForm, CountriesTable},
        data() {
            return {
                index: '1-0',
                country: initialCountriesDetails(),
                validationError: initialValidationError()
            }
        },
        computed: {
            ...mapGetters({
                countries: 'getCountries',
            }),
        },
        methods: {
            addCountry() {
                this.validationError = initialValidationError();
                this.$store.dispatch('saveCountry', {country: this.country})
                    .then(country => {
                        this.$message.success('Pays ' + country.name_fr + ' créé avec succès.');
                        this.country = initialCountriesDetails();
                    })
                    .catch((error) => {
                        this.$message.error('Erreur lors de l\'ajout d\'un nouveau pays, merci de vérifier vos paramètres.');
                        if (error.response !== undefined) {
                            if (error.response.status === 422) {
                                let errorData = error.response.data[1];
                                if (errorData['name_en'] !== undefined) {this.validationError.name_en = errorData['name_en'][0]}
                                if (errorData['name_fr'] !== undefined) {this.validationError.name_fr = errorData['name_fr'][0]}
                                if (errorData['name_ar'] !== undefined) {this.validationError.name_ar = errorData['name_ar'][0]}
                            }
                        }
                    })
            },
            resetCountry() {
                this.country = initialCountriesDetails();
            }
        },
        mounted() {
            if (Authentication.isLoggedIn()) {
                this.$store.dispatch('fetchCountries')
                    .catch(error => {
                        this.$notify.error({
                            title: 'Erreur',
                            message: 'Erreur lors de lecture des données...'
                        });
                    });
            }
        },
        beforeRouteLeave(to, from, next) {
            this.$store.dispatch('reinitCountries')
                .catch(error => {
                    this.$notify.error({
                        title: 'Erreur',
                        message: 'Une erreur inattendue est survenue, merci de contacter votre administrateur...'
                    });
                });
            next()
        }
    }

</script>
