<template>
    <v-map :zoom=10 :center="[36.8188, 10.156]" ref="map" :zIndex="1" :minZoom=6 style="height: 100vh">
        <v-tilelayer
                :options="mapOptions"
                url='https://api.mapbox.com/styles/v1/mapbox/streets-v10/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoibW91ZWRoZW4iLCJhIjoiY2o1b25ibHdiMDFqeDJ5bWxlZDBrbmJzdiJ9.KWA1osNZi6DEnhK2vBDb8w'/>
        <v-marker-cluster>
            <v-marker v-for="claimMarker in claims"
                      :key="claimMarker.id"
                      v-if="claimMarker.latitude !== null"
                      :lat-lng="[claimMarker.latitude, claimMarker.longitude]">
                <v-popup>
                    <claims-popup :claim="claimMarker"/>
                </v-popup>
            </v-marker>
        </v-marker-cluster>
    </v-map>
</template>

<script>
    import Vue2Leaflet from 'vue2-leaflet'
    import Vue2LeafletMarkerCluster from 'vue2-leaflet-markercluster'
    import ClaimsPopup from './ClaimsPopup'

    import L from 'leaflet'

    require('leaflet.locatecontrol');

    export default {
        components: {
            'v-map': Vue2Leaflet.Map,
            'v-tilelayer': Vue2Leaflet.TileLayer,
            'v-marker': Vue2Leaflet.Marker,
            'v-marker-cluster': Vue2LeafletMarkerCluster,
            'v-popup': Vue2Leaflet.Popup,
            'claims-popup': ClaimsPopup,
        },
        props: ['claims', 'claim'],
        data() {
            return {
                mapOptions: {
                    attribution: 'Tiles courtesy of <a href="https://www.mapbox.com/" target="_blank">Mapbox</a> &mdash; Map data &copy; <a href="https://www.mapbox.com/tos/">Mapbox</a>',
                    minZoom: 0,
                    maxZoom: 18,
                },
            }
        },
        methods: {
            async initMap() {

                let that = this;
                let position = [36.8188, 10.166];

                that.claim.latitude = position[0];
                that.claim.longitude = position[1];

                let map = this.$refs.map.mapObject;

                let circle = L.circle(position, 1000);
                let marker = new L.marker(position, {draggable: true});

                marker.on('dragstart', function (event) {
                    circle.setRadius(0)
                });

                marker.on('dragend', function (event) {
                    circle.setLatLng(event.target.getLatLng()).setRadius(1000);

                    position = [event.target.getLatLng().lat, event.target.getLatLng().lng];
                    that.claim.latitude = position[0];
                    that.claim.longitude = position[1];
                });

                let lc = L.control.locate({
                    onLocationError: function (err, control) {
                        marker.addTo(map);
                        circle.addTo(map);

                        that.claim.latitude = position[0];
                        that.claim.longitude = position[1];

                        lc.stop()
                    },
                    setView: true,
                    flyTo: true,
                    cacheLocation: true,
                    maxZoom: 14,
                    drawCircle: true,
                    locateOptions: {
                        enableHighAccuracy: true
                    }
                }).addTo(map);

                map.on('locationfound', layer => {

                    marker.setLatLng(layer.latlng);
                    circle.setLatLng(layer.latlng);

                    let latLng = {
                        lat: layer.latlng.lat,
                        lng: layer.latlng.lng,
                    };
                    map.flyTo(latLng, 14, {
                        bearing: 0,
                        speed: 0.2,
                        curve: 1,
                        easing: function (t) {
                            return t;
                        }
                    });

                    marker.addTo(map);
                    circle.addTo(map);

                    position = [layer.latlng.lat, layer.latlng.lng];
                    that.claim.latitude = position[0];
                    that.claim.longitude = position[1];

                    lc.stop()
                });

                map.on('click', function (event) {
                    marker.setLatLng(event.latlng);
                    circle.setLatLng(event.latlng).setRadius(1000);

                    position = [event.latlng.lat, event.latlng.lng];
                    that.claim.latitude = position[0];
                    that.claim.longitude = position[1];
                });

                lc.start();
            }
        },
        mounted() {
            this.initMap();
        }
    }
</script>