<template>
    <swiper :options="swiperOption" style="height: 120px">
        <swiper-slide v-for="theme in themes" :key="theme.id">
            <circular-stats
                    :percentage="(theme.claims_count / totalClaims) * 100"
                    :color="theme.color" :title="theme['name_'+ $i18n.locale]"
                    :id="'stat' + theme.id"/>
        </swiper-slide>
    </swiper>
</template>

<script>
    import CircularStats from '../../components/shared/CircularStats'

    import 'swiper/dist/css/swiper.css'

    import {swiper, swiperSlide} from 'vue-awesome-swiper'

    export default {
        components: {CircularStats, swiper, swiperSlide},
        props: ['themes', 'totalClaims'],
        data() {
            return {
                swiperOption: {
                    direction: 'horizontal',
                    slidesPerView: 3,
                    mousewheel: true,
                    // centeredSlides: true,
                    freeMode: true,
                    grabCursor: true,
                    loop: true,
                    slideToClickedSlide: true,
                    autoplay: true,

                }
            }
        }
    }
</script>