<template>
    <div class="p-forground">
        <div class="splash-screen">
            <div>
                <el-button class="splash-up" type="primary">
                    <svg class="icon icon-arrow-up">
                        <use xlink:href="/images/icons/symbol-defs.svg#icon-arrow-up"></use>
                    </svg>
                </el-button>
            </div>
            <div>
                Hello there
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        //
    }
</script>

<style lang="scss" scoped>
    .p-forground {
        z-index: 400;
        position: relative;
        height: auto;
        top: -100%;
        transform: translateY(-50%);
    }

    .splash-screen {
        width: 90%;
        height: auto;
        background: #f2f2f2;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 3px 0 3px rgba(0, 0, 0, .3);
        z-index: 20;
        .splash-up {
            position: absolute;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            z-index: 1;
            box-shadow: 3px 0 3px rgba(0, 0, 0, .3);

            display: inline-block;
            border-radius: 50%;
            width: 4rem;
            height: 4rem;
            margin: 0 auto;
            text-align: center;
        }
    }

    .iframe-container {
        position: relative;
        padding-bottom: 56.25%;
        width: 100%;
        height: 0
    }

    .splash-iframe {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
</style>