<template>
    <el-container>
        <el-aside>
            <press-side-bar :index="index"/>
        </el-aside>
        <el-main class="full-height">
            <el-breadcrumb separator="/">
                <el-breadcrumb-item :to="{ name: 'dashboard:claims:index' }">
                    Gestion des revues de presse
                </el-breadcrumb-item>
                <el-breadcrumb-item>Tableau de bord</el-breadcrumb-item>
            </el-breadcrumb>
            <div class="margin-top">

                <div v-masonry transition-duration="0.3s" item-selector=".item" class="masonry-container">
                    <el-col v-masonry-tile class="item" v-for="(item, index) in reviews" :key="item.id" :span="8">
                        <link-prevue cardWidth="100%" :url="item.url" @loaded="mason"/>
                    </el-col>
                </div>

            </div>
        </el-main>

    </el-container>
</template>

<script>
    import {mapGetters} from 'vuex'

    import LinkPrevue from '../../../libs/LinkPreview'
    import PressSideBar from '../components/PressSideBar'

    export default {
        components: {PressSideBar, LinkPrevue},
        data() {
            return {
                index: '0-0',
            }
        },
        computed: {
            ...mapGetters({
                reviews: 'getReviews'
            })
        },
        methods: {
            mason() {
                this.$redrawVueMasonry();
            }
        },
        mounted() {
            this.$store.dispatch('fetchReviews').then(() => {
                this.$redrawVueMasonry();
            })
        }
    }
</script>