<template>
    <el-container>
        <el-aside>
            <press-side-bar :index="index"/>
        </el-aside>
        <el-main>
            <el-breadcrumb separator="/">
                <el-breadcrumb-item :to="{ name: 'dashboard:claims:index' }">
                    Gestion des revues de presse
                </el-breadcrumb-item>
                <el-breadcrumb-item>Tableau de bord</el-breadcrumb-item>
            </el-breadcrumb>
            <div class="margin-top">
                <reviews-table :reviews="reviewsDetails" @deleted="deleteReview"/>
            </div>
        </el-main>
    </el-container>
</template>

<script>
    import {mapGetters} from 'vuex'
    import PressSideBar from '../components/PressSideBar'

    import ReviewsTable from '../components/ReviewsTable'

    export default {
        components: {PressSideBar, ReviewsTable},
        data() {
            return {
                index: '0-2',
                apiUrl: 'https://linkpreview-api.herokuapp.com/',
                reviewsDetails: [],
            }
        },
        computed: {
            ...mapGetters({
                reviews: 'getReviews'
            })
        },
        mounted() {
            this.reloadData()
        },
        methods: {
            deleteReview(reviewID) {
                this.reviewsDetails = this.reviewsDetails.filter(x => x.id !== reviewID)
            },
            async reloadData() {
                this.$store.dispatch('fetchReviews')
                    .then(reviews => {
                        reviews.map(review => {
                            this.httpRequest((response) => {
                                let data = JSON.parse(response);
                                data['id'] = review.id;
                                this.reviewsDetails.push(data);
                            }, (e) => {
                                console.error(e)
                            }, {url: review.url})
                        });
                        console.log(this.reviewsDetails)
                    })
            },
            httpRequest: function (success, error, {url}) {
                const http = new XMLHttpRequest();
                const params = 'url=' + url;
                http.open('POST', this.apiUrl, true);
                http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
                http.onreadystatechange = function () {
                    if (http.readyState === 4 && http.status === 200) {
                        success(http.responseText);
                    }
                    if (http.readyState === 4 && http.status === 500) {
                        error();
                    }
                };
                http.send(params)
            }
        }
    }
</script>