<template>
    <el-container>
        <el-aside>
            <press-side-bar :index="index"/>
        </el-aside>
        <el-main>
            <el-breadcrumb separator="/">
                <el-breadcrumb-item :to="{ name: 'dashboard:claims:index' }">
                    Gestion des revues de presse
                </el-breadcrumb-item>
                <el-breadcrumb-item>Tableau de bord</el-breadcrumb-item>
            </el-breadcrumb>
            <div class="margin-top">
                <press-review-form :review="review" @submit="submit"/>
            </div>
        </el-main>
    </el-container>
</template>

<script>
    import PressSideBar from '../components/PressSideBar'
    import {pressReviewInitialData} from '../config'

    import PressReviewForm from '../components/PressReviewForm'

    export default {
        components: {PressSideBar, PressReviewForm},
        data() {
            return {
                index: '0-1',
                review: pressReviewInitialData(),
            }
        },
        methods: {
            submit(){
                if (this.review.url === null ) {
                    this.$message({
                        message: 'Merci de vérifier le lien saisi.',
                        type: 'warning'
                    });
                    return;
                }
                this.$store.dispatch('saveReview', {review: this.review})
                    .then(review => {
                        this.$message({
                            message: 'Revue sauvegardé avec succès.',
                            type: 'success'
                        });
                        this.review = pressReviewInitialData()
                    })
                    .catch(error => {
                        this.$message({
                            message: 'Une erreur est survenue, merci de réessayer.',
                            type: 'error'
                        })
                    })
            }
        }
    }
</script>