<template>
    <el-container>
        <el-aside>
            <claims-side-bar/>
        </el-aside>
        <el-main style="padding: 0; overflow-x: hidden">

            <el-dialog
                    title="Modifier les informations de contact"
                    :visible.sync="dialogVisible"
                    width="50%"
                    :before-close="handleClose">

                <el-form ref="claimerForm" :model="claim.claimer">

                    <el-form-item label="Nom et prénom">
                        <el-input v-model="claim.claimer.name"/>
                    </el-form-item>

                    <el-form-item label="Adresse e-mail">
                        <el-input v-model="claim.claimer.mail"/>
                    </el-form-item>

                    <el-form-item label="Numéro de téléphone">
                        <el-input v-model="claim.claimer.phone_number"/>
                    </el-form-item>

                    <el-form-item label="Adresse">
                        <el-input type="textarea" :rows="4" v-model="claim.claimer.address"/>
                    </el-form-item>

                    <el-form-item>
                        <el-button type="primary" @click="saveClaimerChange">Enregistrer</el-button>
                        <el-button @click="resetForm('claimerForm')">Annuler</el-button>
                    </el-form-item>
                </el-form>

            </el-dialog>

            <el-card class="band" style="border-radius: 0">

                <el-breadcrumb separator="/">
                    <el-breadcrumb-item :to="{ name: 'dashboard:claims:index' }">
                        Gestion des plaintes
                    </el-breadcrumb-item>
                    <el-breadcrumb-item :to="{ name: 'dashboard:claims:index:index' }">Liste des plaintes
                    </el-breadcrumb-item>
                    <el-breadcrumb-item>Détails</el-breadcrumb-item>
                </el-breadcrumb>

                <h1>{{claim.subject}}</h1>
            </el-card>
            <el-row :gutter="20" style="padding-right: 24px; padding-left: 24px">
                <el-col :span="16">
                    <p>{{claim.description}}</p>
                    <div>
                        <el-select
                                v-model="claimKeywords"
                                multiple
                                filterable
                                allow-create
                                placeholder="Mots clés associés à la pleintes">
                            <el-option
                                    v-for="item in keywords"
                                    :key="item"
                                    :label="item"
                                    :value="item">
                            </el-option>
                        </el-select>
                    </div>

                    <el-row>
                        <el-col :span="24" style="padding: 0"><h3 style="margin-bottom: 0">Fichiers
                            joins</h3></el-col>
                        <el-col style="padding-left: 0; padding-right: 0" :span="8"
                                v-for="attachment in claim.attachments"
                                :key="attachment.id"><img
                                class="avatar" :src="attachment.url"/></el-col>

                        <el-col :span="8" style="padding-left:0px">
                            <el-upload
                                    class="avatar-uploader"
                                    :headers="headers"
                                    :action="uploadUrl"
                                    :on-success="handleAvatarSuccess"
                                    :show-file-list="false">
                                <img v-if="imageUrl" :src="imageUrl" class="avatar">
                                <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                            </el-upload>
                        </el-col>
                    </el-row>

                </el-col>
                <el-col :span="8">
                    <el-card>
                        <div>
                            <dl style="margin: 0">
                                <dt>Thème</dt>
                                <dd>{{claim.theme.name_fr}}</dd>
                                <dt>Municipalité</dt>
                                <dd>{{claim.municipality.name_fr}}</dd>
                            </dl>
                        </div>
                    </el-card>
                    <el-card class="margin-top">
                        <h3 style="margin-top: 0">Actions</h3>
                        <div>
                            <el-switch
                                    active-color="#13ce66"
                                    inactive-color="#ff4949"
                                    active-text="Nouveau"
                                    v-model="claim.is_new"
                                    disabled>
                            </el-switch>
                            <el-switch
                                    active-color="#13ce66"
                                    inactive-color="#ff4949"
                                    active-text="Est Modéré"
                                    v-model="claim.is_moderated">
                            </el-switch>
                            <el-switch
                                    active-color="#13ce66"
                                    inactive-color="#ff4949"
                                    active-text="Est Valide"
                                    v-model="claim.is_valid">
                            </el-switch>
                        </div>
                        <div class="margin-top">
                            <el-button type="primary" @click="saveChange">Sauvegarder</el-button>
                        </div>
                    </el-card>
                    <el-card class="margin-top">
                        <h3 style="margin-top: 0">Détail autheur</h3>
                        <dl>
                            <dt>Nom et Prénom</dt>
                            <dd style="text-align: left">{{claim.claimer.name}}</dd>
                            <dt>Adresse e-mail</dt>
                            <dd style="text-align: left">{{claim.claimer.mail}}</dd>
                            <dt>Numéro de téléphone</dt>
                            <dd style="text-align: left">{{claim.claimer.phone_number}}</dd>
                            <dt>Adresse</dt>
                            <dd style="text-align: left">{{claim.claimer.address}}</dd>
                        </dl>
                        <div style="text-align: right">
                            <el-button @click="dialogVisible = true">Modifier</el-button>
                        </div>
                    </el-card>
                </el-col>
            </el-row>
        </el-main>
    </el-container>
</template>
<script>
    import ClaimsSideBar from './../../shared/components/ClaimsSideBar'
    import {claimInitialData} from '../config'
    import ElRow from "element-ui/packages/row/src/row";

    import {apiDomain as apiUrl} from '../../../../conf'
    import * as Cookies from "tiny-cookie";

    export default {
        components: {
            ElRow,
            ClaimsSideBar,
        },
        data() {
            return {
                claim: claimInitialData(),
                notify: false,
                imageUrl: '',
                headers: {
                    'X-CSRF-TOKEN': window.Laravel.csrfToken,
                    'Authorization': Cookies.get('token'),
                },
                keywords: [],
                claimKeywords: [],
                dialogVisible: false
            }
        },
        computed: {
            uploadUrl: function () {
                return apiUrl + '/claims/' + this.claim.id + '/upload'
            }
        },
        mounted() {
            this.syncData()
        },
        methods: {
            saveClaimerChange() {
                axios(
                    {
                        method: 'PUT',
                        url: apiUrl + '/claimers/' + this.claim.claimer.id,
                        data: this.claim.claimer
                    })
                    .then(response => {
                        this.dialogVisible = false;
                        this.syncData();
                        this.$message.success('Modifications sauvegardée avec succès.');
                    })
                    .catch(error => {
                        this.$message.error('Une erreur innattendue est survenue, merci de rééssayer.')
                    });
            },
            handleClose(done) {
                done();
            },
            syncData() {
                this.keywords = [];
                this.claimKeywords = [];
                axios({
                    method: 'GET',
                    url: apiUrl + '/keywords',
                })
                    .then(response => {
                        response.data.map(item => {
                            this.keywords.push(item.label)
                        })
                    });
                this.$store.dispatch('fetchClaim', {claimID: this.$route.params.id})
                    .then(claim => {
                        this.claim = claim;
                        this.claim.keywords.map(item => {
                            this.claimKeywords.push(item.label)
                        });
                        if (this.claim.is_new) {
                            this.claim.is_new = false;
                            this.$store.dispatch('saveClaim', {claim: this.claim})
                        }
                    })
            },
            saveChange() {
                this.claim.keywords = this.claimKeywords
                this.$store.dispatch('saveClaim', {claim: this.claim})
                    .then(() => {
                        this.syncData();
                        this.$message.success('Modifications sauvegardée avec succès.')
                    })
            },
            handleAvatarSuccess(res, file) {
                this.claim.attachments.push(res);
                this.$store.dispatch('fetchClaim', {claimID: this.$route.params.id})
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
                this.dialogVisible = false;
            }
        }
    }
</script>