<template>
    <el-container>
        <el-aside>
            <claims-side-bar :index="index"/>
        </el-aside>
        <el-main>
            <el-breadcrumb separator="/">
                <el-breadcrumb-item :to="{ name: 'dashboard:claims:index' }">
                    Gestion des plaintes
                </el-breadcrumb-item>
                <el-breadcrumb-item>Liste des plaintes</el-breadcrumb-item>
            </el-breadcrumb>
            <el-row class="margin-top">
                <el-col :span="6">
                    <el-select
                            v-model="themesFilter"
                            multiple
                            style="width: 100%"
                            placeholder="Thème(s)">
                        <el-option
                                v-for="theme in themes"
                                :key="theme.id"
                                :label="theme.name_fr"
                                :value="theme.id">
                        </el-option>
                    </el-select>
                </el-col>

                <el-col :span="6">
                    <el-select
                            style="width: 100%"
                            v-model="municipalitiesFilter"
                            multiple
                            placeholder="Municipalité(s)">
                        <el-option
                                v-for="municipality in municipalities"
                                :key="municipality.id"
                                :label="municipality.name_fr"
                                :value="municipality.id">
                        </el-option>
                    </el-select>
                </el-col>

                <el-col :span="12">
                    <el-date-picker
                            v-model="dateFilter"
                            type="daterange"
                            unlink-panels
                            value-format="yyyy-MM-dd"
                            format="dd-MM-yyyy"
                            range-separator="à"
                            start-placeholder="Date de début"
                            end-placeholder="Date de fin">
                    </el-date-picker>
                    <el-button type="default" @click="filter">Filtrer</el-button>
                </el-col>
            </el-row>
            <claims-table :claims="claims"/>
        </el-main>
    </el-container>
</template>

<script>
    import {mapGetters} from 'vuex'
    import Authentication from "../../../../helpers/Authentication";

    import ClaimsSideBar from './../../shared/components/ClaimsSideBar'
    import ClaimsTable from './../components/ClaimsTable'

    export default {
        components: {ClaimsSideBar, ClaimsTable},
        data() {
            return {
                index: '0-1',
                dateFilter: [],
                municipalitiesFilter: null,
                themesFilter: null,
            }
        },
        computed: {
            startDate: function () {
                if (this.dateFilter[0] !== undefined)
                    return this.dateFilter[0];
                else
                    return null
            },
            endDate: function () {
                if (this.dateFilter[1] !== undefined)
                    return this.dateFilter[1];
                else
                    return null
            },
            ...mapGetters({
                themes: 'getThemes',
                municipalities: 'getMunicipalities',
                claims: 'getClaims',
            }),
        },
        methods: {

            async filter() {
                let params = {
                    themes: this.themesFilter.toString(),
                    municipalities: this.municipalitiesFilter.toString(),
                };

                if (this.date_range !== null) {
                    params['start_date'] = this.startDate;
                    params['end_date'] = this.endDate;
                }
                this.$store.dispatch('searchClaims', {params});
            },
        },
        mounted() {
            if (Authentication.isLoggedIn()) {
                this.$store.dispatch('fetchThemes');
                this.$store.dispatch('fetchMunicipalities');
                this.$store.dispatch('searchClaims', {params: {}})
                    .catch(error => {
                        this.$notify.error({
                            title: 'Erreur',
                            message: 'Erreur lors de lecture des données...'
                        });
                    });
            }
        },
        beforeRouteLeave(to, from, next) {
            this.$store.dispatch('reinitThemes');
            this.$store.dispatch('reinitMunicipalities');
            this.$store.dispatch('reinitClaims');
            next()
        }
    }

</script>
