<template>
    <el-menu :router="true"
             background-color="#F5F5F5"
             text-color="#222222"
             class="full-height"
             @select="navigateEvent"
             :default-active="index"
             :default-openeds="['0', '1']">

        <el-submenu index="0" >
            <template slot="title">
                <span>Gestion des pleintes</span>
            </template>
            <el-menu-item index="0-0" :route="{name: 'dashboard:claims:index'}">Tableau de bord</el-menu-item>
            <el-menu-item index="0-1" :route="{name: 'dashboard:claims:claims:index'}">Liste des plaintes</el-menu-item>
            <el-menu-item index="0-2" :route="{name: 'dashboard:claims:claimers:index'}">Liste des plainieurs</el-menu-item>
        </el-submenu>

        <el-submenu index="1" >
            <template slot="title">
                <span>Configuration</span>
            </template>
            <el-menu-item index="1-0" :route="{name: 'dashboard:claims:themes:index'}">Themes</el-menu-item>
        </el-submenu>

    </el-menu>
</template>

<script>
    export default {
        props: ['index'],
        methods: {
            navigateEvent(index) {
                this.$emit('select', index)
            }
        }
    }
</script>
