<template>
    <el-form :model="municipality" :rules="rules" class="margin-top" ref="municipalityForm">

        <el-form-item style="text-align: right">
            <el-button type="primary" @click="onSubmit">Sauvegarder</el-button>
            <el-button @click="resetForm">Annuler</el-button>
        </el-form-item>

        <el-form-item label="Désignation anglaise" :error="validationError.name_en" prop="name_en">
            <el-input v-model="municipality.name_en" type="text" placeholder="désignation anglaise"/>
        </el-form-item>

        <el-form-item label="Désignation française" :error="validationError.name_fr" prop="name_fr">
            <el-input v-model="municipality.name_fr" type="text" placeholder="désignation française"/>
        </el-form-item>
        <el-form-item label="التسمية العربية" :error="validationError.name_ar" dir="rtl" prop="name_ar">
            <el-input v-model="municipality.name_ar" type="text" placeholder="التسمية العربية"/>
        </el-form-item>

        <el-form-item prop="is_active">
            <el-switch
                    active-color="#13ce66"
                    inactive-color="#ff4949"
                    v-model="municipality.is_active"
                    active-text="Activer"
                    inactive-text="Désactiver"/>
        </el-form-item>

        <el-form-item label="Ville" :error="validationError.city_id" prop="city_id">
            <el-select v-model="municipality.city_id" placeholder="merci de spécifier la ville" :filterable="true">
                <el-option
                        v-for="city in cities"
                        :key="city.id"
                        :label="city.country.name_fr + ' - ' + city.name_fr"
                        :value="city.id">
                </el-option>
            </el-select>
        </el-form-item>

        <el-form-item>
            <el-upload
                    :data="{attachable_id}"
                    :headers="headers"
                    :with-credentials="true"
                    list-type="picture"
                    ref="uploadMunicipalitiesImage"
                    :action="imageApiUpload"
                    :on-success="successUpload"
                    :auto-upload="autoUpload"
                    :file-list="fileList">
                <el-button type="warning">Images</el-button>
                <div slot="tip" class="el-upload__tip">fichiers jpg/png d'une taille inférieure à 500 Ko</div>
            </el-upload>
        </el-form-item>

        <el-form-item label="Population" prop="population">
            <el-input v-model="municipality.population" type="number" placeholder="population totale"/>
        </el-form-item>
        <el-form-item label="Logements" prop="houses">
            <el-input v-model="municipality.houses" type="number" placeholder="nombre total logements"/>
        </el-form-item>
        <el-form-item label="Conseil régional" prop="regional_council_number">
            <el-input v-model="municipality.regional_council_number" type="text"
                      placeholder="nombre des membres du conseil régional"/>
        </el-form-item>
        <el-form-item label="Conseil municipal" prop="municipal_council_number">
            <el-input v-model="municipality.municipal_council_number" type="text"
                      placeholder="nombre des membres du conseil municipal"/>
        </el-form-item>
        <el-form-item label="Site web" prop="website">
            <el-input v-model="municipality.website" type="text" placeholder="site web"/>
        </el-form-item>
        <el-form-item label="Téléphone" prop="phone">
            <el-input v-model="municipality.phone" type="text" placeholder="numéro de téléphone"/>
        </el-form-item>
        <el-form-item label="Adresse e-mail" prop="email">
            <el-input v-model="municipality.email" type="text" placeholder="adresse e-mail de contact"/>
        </el-form-item>
        <el-form-item label="Fax" prop="fax">
            <el-input v-model="municipality.fax" type="text" placeholder="fax"/>
        </el-form-item>
        <el-form-item label="Description anglaise" prop="description_en">
            <el-input v-model="municipality.description_en" type="textarea" :rows="3"
                      placeholder="description anglaise"/>
        </el-form-item>
        <el-form-item label="Description française" prop="description_fr">
            <el-input v-model="municipality.description_fr" type="textarea" :rows="3"
                      placeholder="description française"/>
        </el-form-item>
        <el-form-item label="الوصف العربي" dir="rtl" prop="description_ar">
            <el-input v-model="municipality.description_ar" type="textarea" :rows="3" placeholder="الوصف العربي"/>
        </el-form-item>

        <el-form-item>
            <el-button type="primary" @click="onSubmit">Sauvegarder</el-button>
            <el-button @click="resetForm">Annuler</el-button>
        </el-form-item>

    </el-form>
</template>
<script>
    import * as Cookies from 'tiny-cookie'
    import {apiDomain} from './../../../../conf'

    export default {
        props: ['municipality', 'cities', 'validationError', 'attachable_id', 'fileList', 'autoUpload'],
        data() {
            return {
                rules: {
                    name_en: [
                        {required: true, message: 'Le champ est obligatoire.', trigger: 'blur'},
                        {
                            min: 4,
                            max: 100,
                            message: 'La longueur du champ doit être comprise entre 4 et 100.',
                            trigger: 'blur'
                        }
                    ],
                    name_fr: [
                        {required: true, message: 'Le champ est obligatoire.', trigger: 'blur'},
                        {
                            min: 4,
                            max: 100,
                            message: 'La longueur du champ doit être comprise entre 4 et 100.',
                            trigger: 'blur'
                        }
                    ],
                    name_ar: [
                        {required: true, message: 'Le champ est obligatoire.', trigger: 'blur'},
                        {
                            min: 4,
                            max: 100,
                            message: 'La longueur du champ doit être comprise entre 4 et 100.',
                            trigger: 'blur'
                        }
                    ],
                    city_id: [
                        {required: true, message: 'Le champ est obligatoire.', trigger: 'blur'},
                    ],
                },
                headers: {
                    'X-CSRF-TOKEN': window.Laravel.csrfToken,
                    'Authorization': Cookies.get('token'),
                },
                imageApiUpload: apiDomain + '/municipalities/upload'
            };
        },
        watch: {
            attachable_id: function (newValue) {
                if (this.$route.params.id === undefined) {
                    this.$refs.uploadMunicipalitiesImage.data.attachable_id = newValue;
                    if (newValue !== null) {
                        this.$refs.uploadMunicipalitiesImage.submit();
                        this.$emit('processImageComplete');
                    }
                }
                return newValue;
            }
        },
        methods: {
            onSubmit() {
                this.$refs['municipalityForm'].validate((valid) => {
                    if (valid) {
                        this.$emit('submitForm');
                        return true
                    } else {
                        return false
                    }
                })
            },
            resetForm() {
                this.$refs.municipalityForm.resetFields();
                this.$emit('resetForm')
            },
            successUpload() {
                //if (this.$refs.uploadMunicipalitiesImage.autoUpload === false)
                this.$refs.uploadMunicipalitiesImage.clearFiles();
            }
        },
    }
</script>
