<template>
    <div v-model="municipality">
        <div>
            <el-row :gutter="24">
                <el-col :span="16">
                    <h1 class="title">{{ municipality.name_fr }}</h1>
                    <div style="float: right">
                        <router-link type="text"
                                     :to="{name: 'dashboard:localization:municipalities:edit', params: {id: municipality.id}}">
                            Modifier
                        </router-link>
                    </div>
                    <div class="clearfix"></div>

                    <el-progress type="circle" :percentage="parseFloat(relativePopulation.toFixed(2))"/>
                    <span>% population totale de {{ municipality.city.name_fr }}</span>
                    <el-progress type="circle" :percentage="parseFloat(relativeHouses.toFixed(2))"/>
                    <span>% logements totale de {{ municipality.city.name_fr }}</span>

                    <el-card class="stat margin-top">
                        <div class="text item">
                            <el-col :span="12" style="text-align: right"><b>Habitants / Logements</b></el-col>
                            <el-col :span="12">{{ (municipality.population / municipality.houses).toFixed(3) }}</el-col>
                        </div>
                    </el-card>

                    <p style="text-align: justify" v-if="municipality.description_fr !== null">{{ municipality.description_fr }}</p>

                    <flickity ref="flickity" :options="flickityOptions" class="margin-top carousel"
                              v-if="municipality.attachments.length > 0 || municipality.cover !== null">
                        <div class="carousel-cell" v-for="attachment in attachments" :key="attachment.id">
                            <img :src="attachment.url">
                        </div>
                        <div class="carousel-cell">
                            <img :src="municipality.cover.url">
                        </div>
                    </flickity>

                </el-col>
                <el-col :span="8">
                    <el-switch
                            active-color="#13ce66"
                            inactive-color="#ff4949"
                            active-text="Activer"
                            inactive-text="Désactiver"
                            v-model="municipality.is_active"
                            disabled>
                    </el-switch>

                    <h3>Informations de contacts</h3>
                    <el-row style="padding: 0">
                        <el-col :span="10" style="padding: 0"><b>Ville</b></el-col>
                        <el-col :span="14" style="padding: 0">{{ municipality.city.name_fr }}</el-col>
                        <el-col :span="10" style="padding: 0"><b>Site web</b></el-col>
                        <el-col :span="14" style="padding: 0">{{ municipality.website }}</el-col>
                        <el-col :span="10" style="padding: 0"><b>Téléphone</b></el-col>
                        <el-col :span="14" style="padding: 0">{{ municipality.phone }}</el-col>
                        <el-col :span="10" style="padding: 0"><b>E-mail</b></el-col>
                        <el-col :span="14" style="padding: 0">{{ municipality.email }}</el-col>
                        <el-col :span="10" style="padding: 0"><b>Fax</b></el-col>
                        <el-col :span="14" style="padding: 0">{{ municipality.fax }}</el-col>
                    </el-row>
                    <h3>Informations générales</h3>
                    <el-row style="padding: 0">
                        <el-col :span="10" style="padding: 0"><b>Population</b></el-col>
                        <el-col :span="14" style="padding: 0">{{ municipality.population }}</el-col>
                        <el-col :span="10" style="padding: 0"><b>Logements</b></el-col>
                        <el-col :span="14" style="padding: 0">{{ municipality.houses }}</el-col>

                        <el-col :span="10" style="padding: 0"><b>Conseil municipal</b></el-col>
                        <el-col :span="14" style="padding: 0">{{ municipality.municipal_council_number }}
                        </el-col>
                        <el-col :span="10" style="padding: 0"><b>Conseil régional</b></el-col>
                        <el-col :span="14" style="padding: 0">{{ municipality.regional_council_number }}
                        </el-col>
                    </el-row>
                </el-col>
            </el-row>
        </div>
    </div>
</template>
<script>
    import Flickity from 'vue-flickity';

    export default {
        props: ['municipality', 'relativePopulation', 'relativeHouses'],
        components: {
            Flickity,
        },
        data() {
            return {
                flickityOptions: {
                    prevNextButtons: false,
                    wrapAround: true,
                },
            }
        },
        computed: {
            is_active: function () {
                return this.municipality.is_active
            },
            attachments: function () {
                if (this.municipality.attachments.length > 0) {
                    this.municipality.attachments.shift()
                }
                return this.municipality.attachments
            },
        },
    }
</script>


<style>
    .carousel-cell {
        width: 100%;
        height: 300px;
    }

    .stat {
        padding: 0 !important;
    }
    .stat > .el-card__body {
        padding: 0 !important;
    }
</style>
