<template>
    <data-tables
            :data="municipalities"
            :checkbox-filter-def="checkboxFilterDef"
            :search-def="searchDef"
            :actions-def="actionsDef"
            :action-col-def="actionColDef">
        <el-table-column
                v-for="title in titles"
                :prop="title.prop"
                :label="title.label"
                :key="title.prop"
                :width="title.width"
                sortable="custom">
        </el-table-column>
    </data-tables>
</template>

<script>
    export default {
        props: ['municipalities'],
        data() {
            return {
                titles: [
                    {prop: 'name_fr', label: 'Désignation française'},
                    {prop: 'city.name_fr', label: 'Pays'},
                ],
                filterDefinition: [],
                actionsDef: {colProps: {span: 0}},
                searchDef: {colProps: {span: 8}},
                actionColDef: {
                    label: 'Actions',
                    width: '250',
                    tableColProps: {
                        align: 'center'
                    },
                    def: [{
                        name: 'Détails',
                        handler: row => {
                            this.$router.push({name: 'dashboard:localization:municipalities:details', params: {id: row.id}})
                        }
                    }, {
                        name: 'Modifier',
                        handler: row => {
                            this.$router.push({name: 'dashboard:localization:municipalities:edit', params: {id: row.id}})
                        }
                    }, {
                        name: 'Supprimer',
                        handler: row => {
                            this.$confirm('Voulez-vous vraiment supprimer la municipalité ' +
                                row.name_fr + '. Continuer ?', 'Attention', {
                                confirmButtonText: 'Oui',
                                cancelButtonText: 'Annuler',
                                type: 'warning'
                            }).then(() => {
                                this.$store.dispatch('deleteMunicipality', {municipalityID: row.id}).then(() => {
                                    this.$message({
                                        type: 'success',
                                        message: 'Pays supprimé avec succèss'
                                    });
                                }).catch((e) => {
                                    this.$message({
                                        type: 'warning',
                                        message: 'Une erreur inattendue est survenue. Merci de réessayer...'
                                    });
                                })
                            }).catch(() => {
                                this.$message({
                                    type: 'info',
                                    message: 'Suppression annulée...'
                                });
                            });
                        }
                    }]
                }
            }
        },
        computed: {
            checkboxFilterDef: function () {
                return {
                    def: this.filterDefinition,
                    filterFunction(el, filter) {
                        return el.city.id === filter.vals[0]
                    },
                    colProps: {span: 16}
                }
            },
        },
        watch: {
            municipalities: function (municipalities) {
                if (typeof municipalities !== 'undefined' && municipalities.length > 0) {
                    for (let i = 0; i < municipalities.length; i++) {
                        let city = {
                            'code': municipalities[i].city.id,
                            'name': municipalities[i].city.name_fr,
                        };
                        if (this.filterDefinition.findIndex((x) => x.code === city.code) === -1 )
                            this.filterDefinition.push(city);
                    }
                }
            }
        },
        mounted() {
            //
        }
    }
</script>
