<template>
    <div v-masonry transition-duration="0.3s" item-selector=".item" class="masonry-container">
        <el-col v-masonry-tile class="item" v-for="(municipality, index) in municipalities" :key="municipality.id"
                :span="8">
            <el-card :body-style="{ padding: '0px' }">
                <img v-if="municipality.cover === null" src="/images/default-municipality-cover.jpg" class="image">
                <img v-if="municipality.cover !== null" :src="municipality.cover.url">
                <div style="padding: 14px;">
                    <span>{{municipality.name_fr}}</span>
                    <div class="bottom clearfix">
                        <el-button type="text" class="button" @click="checkDetails(municipality.id)">Voir Détails</el-button>
                    </div>
                </div>
            </el-card>
        </el-col>
    </div>
</template>

<script>
    export default {
        props: ['municipalities'],
        methods: {
            checkDetails(municipalityID) {
                this.$emit('checkDetails', municipalityID)
            }
        }
    }
</script>

<style scoped>
    .bottom {
        margin-top: 13px;
        line-height: 12px;
    }

    .button {
        padding: 0;
        float: right;
    }

    .image {
        width: 100%;
        display: block;
        vertical-align: middle;
    }

    .clearfix:before,
    .clearfix:after {
        display: table;
        content: "";
    }

    .clearfix:after {
        clear: both
    }
</style>