<template>
    <el-menu :router="true"
             background-color="#F5F5F5"
             text-color="#222222"
             class="full-height"
             @select="navigateEvent"
             :default-active="index">

        <el-menu-item index="0" :route="{name: 'dashboard:configuration:index'}">Tableau de bord</el-menu-item>
        <el-menu-item index="1" :route="{name: 'dashboard:configuration:notices'}">Pages</el-menu-item>

    </el-menu>
</template>

<script>
    export default {
        props: ['index'],
        methods: {
            navigateEvent(index) {
                this.$emit('select', index)
            }
        }
    }
</script>
