<template>
    <el-container>
        <el-aside>
            <localization-side-bar :index="index"/>
        </el-aside>
        <el-main>
            <el-breadcrumb separator="/">
                <el-breadcrumb-item :to="{ name: 'dashboard:localization:index' }">
                    Gestion des municipalités
                </el-breadcrumb-item>
                <el-breadcrumb-item>Tableau de bord</el-breadcrumb-item>
            </el-breadcrumb>
            <municipalities-metrics/>
        </el-main>
    </el-container>
</template>

<script>
    import LocalizationSideBar from './../components/LocalizationSideBar'
    import MunicipalitiesMetrics from '../../../metrics/MunicipalitiesMetrics'

    export default {
        components: {LocalizationSideBar, MunicipalitiesMetrics},
        data() {
            return {
                index: '0-0',
            }
        }
    }

</script>
